<% title t('.title') %>

<div class="form-actions">
	<%= link_to t('app.buttons.edit'), edit_admin_page_path(@page),
  :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.list'), admin_pages_path,
  :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>

<p>
  <strong><%= t('app.common.name')%>:</strong>
  <%= @page.name %>
</p>

<p>
  <strong><%= t('app.common.title')%>:</strong>
  <%= @page.title %>
</p>

<p>
  <strong><%= t('app.common.description')%>:</strong>
</p>
<%= simple_format(@page.description, {}, :sanitize => false) %>


