<h2><%= "#{t('app.common.event')}: #{@event.name}" %></h2>
<h3>
	<%= "#{t('app.common.indicator_type_relationship')}: #{@event_indicator_relationships.first.indicator_type.name}" if !@event_indicator_relationships.empty? && @event_indicator_relationships.first.indicator_type_id %>
	<%= "#{t('app.common.indicator_relationship')}: #{@event_indicator_relationships.first.core_indicator.name}" if !@event_indicator_relationships.empty? && @event_indicator_relationships.first.core_indicator_id %>
</h3>

<% path = params[:action] == "new" ?
		admin_event_indicator_relationships_path(:id => params[:id]) :
		admin_event_indicator_relationship_path(params[:id]) %>

<%= form_tag path,	:method => params[:action] == "new" ? :post : :put do %>
    <% @counter = @event_indicator_relationships.length %>
	  <%= hidden_field_tag 'event_id', params[:id] %>
<% if params[:action] != "new" %>
	  <%= hidden_field_tag 'indicator_type_id', params[:indicator_type_id] %>
	  <%= hidden_field_tag 'core_indicator_id', params[:core_indicator_id] %>
<% end %>
	  <%= hidden_field_tag 'type', params[:type] %>
	  <%= hidden_field_tag 'counter', @counter %>

	<% if params[:action] == "new" %>
		<% if params[:type] == "indicator_type" %>
			<div class="select control-group optional" id="indicator_type_input">
				<%= label_tag "indicator_type_id", t('app.common.indicator_type_relationship'), :class => "control-label" %>
				<div class="controls">
					<%= select_tag "indicator_type_id",
						options_from_collection_for_select(@unused_indicator_types, "id", "name") %>
				</div>
			</div>
		<% elsif params[:type] == "indicator" %>
			<div class="select control-group optional" id="core_indicator_input">
				<%= label_tag "core_indicator_id", t('app.common.indicator_relationship'), :class => "control-label" %>
				<div class="controls">
					<%= select_tag "core_indicator_id",
						options_from_collection_for_select(@unused_indicators, "id", "name")%>
				</div>
			</div>
		<% end %>
	<% end %>

	<hr />

	<div id="relationships">
		<% @event_indicator_relationships.each_with_index do |relationship,i| %>
			<div id="<%= "event_indicator_relationship_#{relationship.id}"%>">
				<%= hidden_field_tag 'event_indicator_relationship_id', relationship.id,
						:name => "event_indicator_relationship[#{i}][id]" %>
				<% if relationship.related_indicator_type_id %>
					<div class="select control-group optional" id="event_indicator_relationship_related_indicator_type_input">
						<%= label_tag "event_indicator_relationship_related_indicator_type_id", t('app.common.indicator_type'), :class => "control-label" %>
						<div class="controls">
							<%= select_tag "event_indicator_relationship_related_indicator_type_id",
								options_from_collection_for_select(@indicator_types, "id", "name",
									relationship.related_indicator_type_id),
								:name => "event_indicator_relationship[#{i}][related_indicator_type_id]" %>
						</div>
					</div>
					<div class="select control-group optional" id="event_indicator_relationship_sort_order_input">
						<%= label_tag "event_indicator_relationship_sort_order", t('app.common.sort_order'), :class => "control-label" %>
						<div class="controls">
							<%= text_field_tag 'event_indicator_relationship_sort_order', relationship.sort_order,
									:name => "event_indicator_relationship[#{i}][sort_order]", :maxlength => 5, :size => 3 %>
						</div>
					</div>
					<div class="control-group optional" id="event_indicator_relationship_has_openlayers_rule_value">
						<%= label_tag "event_indicator_relationship_has_openlayers_rule_value",
									t('app.common.has_openlayers_rule_value'), :class => "control-label" %>
             <div class="controls">
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_has_openlayers_rule_value", true,
										relationship.has_openlayers_rule_value == true,
										:name => "event_indicator_relationship[#{i}][has_openlayers_rule_value]" %>
									<%= t('app.common.yes') %>
								</label>
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_has_openlayers_rule_value", false,
										relationship.has_openlayers_rule_value == false,
										:name => "event_indicator_relationship[#{i}][has_openlayers_rule_value]" %>
									<%= t('app.common.no') %>
								</label>
             </div>
					</div>
					<div class="control-group optional" id="event_indicator_relationship_visible">
						<%= label_tag "event_indicator_relationship_visible",
									t('app.common.visible'), :class => "control-label" %>
             <div class="controls">
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_visible", true,
										relationship.visible == true,
										:name => "event_indicator_relationship[#{i}][visible]" %>
									<%= t('app.common.yes') %>
								</label>
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_visible", false,
										relationship.visible == false,
										:name => "event_indicator_relationship[#{i}][visible]" %>
									<%= t('app.common.no') %>
								</label>
             </div>
					</div>
					<p>
						<%= button_tag t('app.buttons.remove'), :type => 'button', :id => "event_indicator_relationship_#{relationship.id}", :confirm => t('app.msgs.delete_confirm'), :class => 'btn remove btn-danger btn-mini' %>
					</p>
					<hr />
				<% elsif relationship.related_core_indicator_id %>
					<div class="select control-group optional" id="event_indicator_relationship_related_core_indicator_input">
						<%= label_tag "event_indicator_relationship_related_core_indicator_id", t('app.common.indicator'), :class => "control-label" %>
						<div class="controls">
							<%= select_tag "event_indicator_relationship_related_core_indicator_id",
								options_from_collection_for_select(@core_indicators, "id", "name",
								 relationship.related_core_indicator_id),
								:name => "event_indicator_relationship[#{i}][related_core_indicator_id]" %>
						</div>
					</div>
					<div class="control-group optional" id="event_indicator_relationship_sort_order_input">
						<%= label_tag "event_indicator_relationship_sort_order", t('app.common.sort_order'), :class => "control-label" %>
						<div class="controls">
							<%= text_field_tag 'event_indicator_relationship_sort_order', relationship.sort_order,
									:name => "event_indicator_relationship[#{i}][sort_order]", :maxlength => 5, :size => 3 %>
						</div>
					</div>
					<div class="control-group optional" id="event_indicator_relationship_has_openlayers_rule_value">
						<%= label_tag "event_indicator_relationship_has_openlayers_rule_value",
									t('app.common.has_openlayers_rule_value'), :class => "control-label" %>
             <div class="controls">
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_has_openlayers_rule_value", true,
										relationship.has_openlayers_rule_value == true,
										:name => "event_indicator_relationship[#{i}][has_openlayers_rule_value]" %>
									<%= t('app.common.yes') %>
								</label>
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_has_openlayers_rule_value", false,
										relationship.has_openlayers_rule_value == false,
										:name => "event_indicator_relationship[#{i}][has_openlayers_rule_value]" %>
									<%= t('app.common.no') %>
								</label>
             </div>
					</div>
					<div class="control-group optional" id="event_indicator_relationship_visible">
						<%= label_tag "event_indicator_relationship_visible",
									t('app.common.visible'), :class => "control-label" %>
             <div class="controls">
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_visible", true,
										relationship.visible == true,
										:name => "event_indicator_relationship[#{i}][visible]" %>
									<%= t('app.common.yes') %>
								</label>
								<label class="radio inline">
									<%= radio_button_tag "event_indicator_relationship_visible", false,
										relationship.visible == false,
										:name => "event_indicator_relationship[#{i}][visible]" %>
									<%= t('app.common.no') %>
								</label>
             </div>
					</div>
					<p>
						<%= button_tag t('app.buttons.remove'), :type => 'button', :id => "event_indicator_relationship_#{relationship.id}", :confirm => t('app.msgs.delete_confirm'), :class => 'btn remove btn-danger btn-mini' %>
					</p>
					<hr />
				<% end %>
			</div>
		<% end %>
	</div>

	<p>
	  <%= button_tag t('app.buttons.add_indicator_type'), :type => 'button', :id => 'add_indicator_type_block',
			:disabled => @indicator_types.empty?, :class => 'btn btn-primary btn-mini' %>
	  <%= button_tag t('app.buttons.add_indicator'), :type => 'button', :id => 'add_indicator_block',
			:disabled => @core_indicators.empty?, :class => 'btn btn-primary btn-mini' %>
	</p>
	<hr />
	<div class="form-actions">
	  <%= submit_tag params[:action] == "new" ? t("app.buttons.create") : t("app.buttons.update"),
			:id => "submit", :class => 'btn btn-success' %>
		<%= link_to t("app.buttons.reset"), request.fullpath, :class => 'btn btn-warning',  %>
	</div>

<% end %>
