<% title t('.title') %>

<% if @email_sent %>

<p>
<%= t("app.msgs.message_sent") %>
</p>

<% else %>

	<%= semantic_form_for @message, :url => contact_path do |f| %>
		<%= f.error_messages %>

		<%= f.inputs do %>
			<%= f.input :name, :label => t(".name") %>
			<%= f.input :email, :label => t(".email") %>
			<%= f.input :message, :label => t(".message"), :as => :text, :input_html => {:rows => 5} %>
		<% end %>

  	<div>
  	  <%= link_to t('.send'), "#", :class => 'btn btn-mini btn-primary', :id => "submit" %>
  	  <%= link_to t('.reset'), "#", :class => 'btn btn-mini', :id => "reset" %>
  	  <%= link_to t('.cancel'), root_path, :class => 'btn btn-mini' %>
  	</div>

	<% end %>
<% end %>
