<% title t('.title') %>

<%= form_tag upload_admin_shapes_path, :multipart => true do %>
	<div>
		<p>
			<%= link_to t('.download_link_text'), export_admin_shapes_path %>
		</p>
	</div>

	<div>
		<p>
			<%= t('app.common.file_upload') %>
			<%= file_field_tag 'file', :accept => 'text/csv,text/plain' %>
		</p>
<%
=begin %>
		<p>
			<%= check_box_tag(:delete_records) %>
			<%= label_tag(:delete_records, t('.delete_records')) %>
		</p>
	</div>
<%
=end %>
	<div>
	  <%= submit_tag t("app.buttons.upload_csv") %>
	</div>
<% end %>

<div class="form-actions">
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
