<%= semantic_form_for(@shape_type) do |f| %>
	<%= f.inputs :for => :shape_type_translations do |shape_type_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage" style="<%= 'display:none;' if formLocale.to_s != params[:locale] %>">
			<%= shape_type_translation.input :name %>
			<%= shape_type_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.actions :submit, :reset, :cancel %>

<% end %>
