<% title t('.title') %>

<table>
  <tr>
    <th><%= t('app.common.name_singular')%></th>
    <th><%= t('app.common.name_plural')%></th>
    <th><%= t('app.common.parent_shape')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shape_types.each do |shape_type| %>
  <tr>
    <td><%= shape_type.name_singular %></td>
    <td><%= shape_type.name_plural %></td>
    <td><%= shape_type.parent.name_singular if !shape_type.parent.nil? %></td>
    <td><%= link_to t('app.buttons.show'), shape_type %></td>
    <td><%= link_to t('app.buttons.edit'), edit_shape_type_path(shape_type) %></td>
    <td><%= link_to t('app.buttons.delete'), shape_type, :confirm => t('app.msgs.delete_confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="admin_nav">
	<%= link_to t('app.buttons.new_shape_types'), new_shape_type_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>

