<h1>Listing shape_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shape_types.each do |shape_type| %>
  <tr>
    <td><%= shape_type.name %></td>
    <td><%= link_to 'Show', shape_type %></td>
    <td><%= link_to 'Edit', edit_shape_type_path(shape_type) %></td>
    <td><%= link_to 'Destroy', shape_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shape type', new_shape_type_path %>
