<% title t('.title') %>

<p>
  <b><%= t('app.common.name_singular')%>:</b>
  <%= @shape_type.name_singular %>
</p>
<p>
  <b><%= t('app.common.name_plural')%>:</b>
  <%= @shape_type.name_plural %>
</p>
<p>
  <b><%= t('app.common.parent_shape')%>:</b>
  <%= @shape_type.parent.name_singular if !@shape_type.parent.nil? %>
</p>

<div class="admin_nav">
	<%= link_to t('app.buttons.edit'), edit_shape_type_path(@shape_type) %>
	<%= link_to t('app.buttons.list'), shape_types_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>

