<%= semantic_form_for(@shape) do |f| %>
	<%= f.inputs :for => :shape_translations do |shape_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage" style="<%= 'display:none;' if formLocale.to_s != params[:locale] %>">
			<%= shape_translation.input :name %>
			<%= shape_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.inputs do %>
		<%= f.input :shape_type %>
		<%= f.input :parent_id %>
		<%= f.input :common_id %>
		<%= f.input :geo_data, :as => :text %>
	<% end %>

	<%= f.actions :submit, :reset, :cancel %>

<% end %>
