<p>
  <b>Shape type:</b>
  <%= @shape.shape_type_id %>
</p>

<p>
  <b>Common:</b>
  <%= @shape.common_id %>
</p>

<p>
  <b>Name:</b>
  <%= @shape.name %>
</p>

<p>
  <b>Geo data:</b>
  <%= @shape.geometry %>
</p>


<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
