<% title 'Upload a CSV file For Shapes' %>

<%= form_tag upload_shapes_path, :multipart => true do %>
	<div>
		<p>
			<%= link_to "Download the CSV template file for Shapes", export_shapes_path %>
		</p>
	</div>

	<div>
		<p>
			CSV File to Upload
			<%= file_field_tag 'file', :accept => 'text/csv,text/plain' %>
		</p>
	</div>
	<div>
	  <%= submit_tag "Process CSV File" %>
	</div>
<% end %>

<%= link_to 'Back', admin_path %>
