<% title t('.title') %>

<p>
	<%= link_to t('.view_all'), data_archives_path, :class => "btn btn-mini" %>
</p>

<% if @archive.nil? %>
	<p>
		<%= t('.no_archive') %>
	</p>
<% else %>
	<div id="archive_item">
		<h3><%= @archive["date"] %></h3>
		<%= simple_format @archive["news"], {}, :sanitize => false %>
		<ul id="archive_links" class="clear">
		<% @archive["files"].each do |file| %>
			<li>
				<% lang = "app.language.#{file["locale"].downcase}" %>
				<%= link_to "#{t(lang)} - #{file["file_type"]} (#{number_to_human_size(file["file_size"])})",
						file["url"], :class => "btn btn-mini" %>
			</li>
		<% end %>
		</ul>
	</div>
<% end %>



