<% title t('.title') %>

<% if @archives.nil? || @archives.empty? %>
	<p>
		<%= t('.no_archives') %>
	</p>
<% else %>
  <p>
		<%= t('.explanation') %>
  </p>

	<% @archives.each do |archive| %>
		<div class="archive_item">
			<h3><%= archive["date"] %></h3>
			<div class="archive_text">
  			<%= simple_format_no_tags archive["news"], {}, :sanitize => false %>
			</div>
			<ul class="archive_links clear">
			<% archive["files"].each do |file| %>
				<li>
					<% lang = "app.language.#{file["locale"].downcase}" %>
					<%= link_to "#{t(lang)} - #{file["file_type"]} (#{number_to_human_size(file["file_size"])})",
							file["url"], :class => "btn btn-mini" %>
				</li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= page_navigation_links @archives %>
<% end %>



