<% title @district.present? ? @district["common_name"] : t('.title') %>

<div id="district_profile" class="tabbable">

  <% if @district["summary"].present? %>
    <div id="district_summary">
      <%= simple_format_no_tags(@district["summary"]) %>
      <hr />
    </div>
  <% end %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% @district["event_types"].each_with_index do |type, index| %>
        <li class="<%= index == @active_index ? 'active' : ''%>">
          <%= link_to type["name"], "#tab#{type["id"]}", :'data-toggle' => 'tab', :'data-id' => type["id"], 
              :'data-summary' => type["has_summary"], :'data-indicator-id' => type["default_indicator_id"] %>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @district["event_types"].each_with_index do |type, index| %>
        <div class="tab-pane <%= index == @active_index ? 'active' : ''%>" id="<%= "tab#{type["id"]}" %>" >

          <div class="profile_loading"></div>

          <div class="chart_container" >
            <%= render :partial => 'other/district_profile_filters', :locals => {:type => type, :index => 1} %>

            <div class="profile_item row-fluid">
              <% type["events"].each_with_index do |event, e_index| %>
                <div class="span4 active" data-id="<%= event["id"]%>" 
                      data-summary="<%= type["has_summary"]%>" data-indicator-id="<%= type["default_indicator_id"]%>">
                  <div class="district_header">
                    <h2><%= event["name"] %></h2>
                  </div>

                  <h3><%= t('.summary_header') %></h3>

                  <div class="district_summary">
                    <div class="district_summary_chart" data-id="<%= event["id"]%>" 
                      data-summary="<%= type["has_summary"]%>" data-indicator-id="<%= type["default_indicator_id"]%>"></div>
                  </div>

                  <h3><%= t('.details_header') %></h3>

                  <div class="district_details">
                    <div class="district_detail_chart" data-id="<%= event["id"]%>" 
                      data-summary="<%= type["has_summary"]%>" data-indicator-id="<%= type["default_indicator_id"]%>"></div>
                  </div>

                </div>
              <% end %>
            </div>

            <hr />
          </div>

          <div class="district_table_container">

            <%= render :partial => 'other/district_profile_filters', :locals => {:type => type, :index => 2} %>

            <div class="indicator_table_no_data">
              <%= I18n.t('charts.no_data') %>
            </div>

            <div class="district_table"></div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

