<% title @indicator.present? ? @indicator["name"] : t('.title') %>

<div id="indicator_profile" class="tabbable">

  <% if @indicator["summary"].present? %>
    <div id="indicator_summary">
      <%= simple_format(@indicator["summary"]) %>
      <hr />
    </div>
  <% end %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% @indicator["event_types"].each_with_index do |type, index| %>
        <li class="<%= index == @active_index ? 'active' : ''%>">
          <%= link_to type["name"], "#tab#{type["id"]}", :'data-toggle' => 'tab', :'data-id' => type["id"] %>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @indicator["event_types"].each_with_index do |type, index| %>
        <div class="tab-pane <%= index == @active_index ? 'active' : ''%>" id="<%= "tab#{type["id"]}" %>">

          <div class="profile_loading"></div>

          <div class="chart_container">
            <%= render :partial => 'other/indicator_profile_filters', :locals => {:type => type, :index => 1} %>

            <div class="profile_item row-fluid">
              <% type["events"].each_with_index do |event, e_index| %>
                <div class="span4 active" data-id="<%= event["id"]%>">
                  <div class="indicator_header">
                    <h2><%= event["name"] %></h2>
                  </div>

                  <h3><%= t('.summary_header') %></h3>

                  <div class="indicator_summary">
                    <div class="indicator_summary_chart" data-id="<%= event["id"]%>"></div>
                  </div>

                  <h3><%= t('.details_header') %></h3>

                  <div class="indicator_details">
                    <div class="indicator_detail_chart" data-id="<%= event["id"]%>"></div>
                  </div>

                </div>
              <% end %>
            </div>

            <hr />
          </div>
          
          <div class="indicator_table_container">

            <%= render :partial => 'other/indicator_profile_filters', :locals => {:type => type, :index => 2} %>
            
            <div class="indicator_table_no_data">
              <%= I18n.t('charts.no_data') %>
            </div>

            <div class="indicator_table"></div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

