<% if controller.action_name == "new" %>
	<% path = locales_path
		 method = "post"
		 btn_text = "Create"
	%>
<% else %>
	<% path = locale_path(@locale)
		 method = "put"
		 btn_text = "Update"
	%>
<% end %>
<%= form_tag path, :method => method, :class => "formtastic" do %>

	<fieldset class="inputs">
		<ol>
		  <li class="string input required stringish" id="locale_language_input">
				<%= label_tag "language", "Language", :class => "label" %>
				<%= text_field_tag "language", @locale.language, :maxlength => "255" %>
			</li>
		  <li class="string input required stringish" id="locale_name_input">
			<%= label_tag "name", "Name", :class => "label" %>
			<%= text_field_tag "name", @locale.name, :maxlength => "255" %>
			</li>
		</ol>
	</fieldset>

<fieldset class="actions">
	<ol>
		<li class="action input_action "><%= button_tag "#{btn_text} Locale", :type => "submit" %></li>
		<li class="action input_action "><%= button_tag "Reset Locale", :type => "reset" %></li>
		<li class="action link_action "><%= link_to "Cancel Locale", locales_path %></li>
	</ol>
</fieldset>

<% end %>

