<% title t('.title') %>

<p>
  <b><%= t('app.common.language')%>:</b>
  <%= @locale.language %>
</p>

<p>
  <b><%= t('app.common.name')%>:</b>
  <%= @locale.name %>
</p>


<%= link_to t('app.buttons.edit'), edit_locale_path(@locale) %> |
<%= link_to t('app.buttons.list'), locales_path %>
