<% title t('.title') %>

<% if !@live_data_sets || @live_data_sets.empty? %>
  <p><%= t('.no_data')%></p>
<% else %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.live_data_sets.event_id') %></th>
        <th><%= t('activerecord.attributes.live_data_sets.timestamp') %></th>
        <th><%= t('activerecord.attributes.live_data_sets.precincts_percentage') %></th>
        <th><%= t('activerecord.attributes.live_data_sets.precincts_completed') %></th>
        <th><%= t('activerecord.attributes.live_data_sets.precincts_total') %></th>
        <th><%= t('activerecord.attributes.live_data_sets.show_to_public') %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @live_data_sets.each do |live_data_set| %>
        <tr>
          <td><%= live_data_set.event.name %></td>
          <td><%= l live_data_set.timestamp, :format => :long %></td>
          <td><%= live_data_set.precincts_percentage %></td>
          <td><%= live_data_set.precincts_completed %></td>
          <td><%= live_data_set.precincts_total %></td>
          <td><%= live_data_set.show_to_public %></td>
          <td>
            <%= link_to t('app.buttons.edit'),
                        edit_live_data_set_path(live_data_set), :class => 'btn btn-mini' %>
            <%= link_to t('app.buttons.delete'),
                        live_data_set_path(live_data_set),
                        :method => :delete,
                        :confirm => t('app.msgs.delete_confirm'),
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<div class="form-actions">
<%= link_to t('app.buttons.new_live_datasets'),
            load_data_live_datasets_path,
            :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
