<% title t('.title') %>

  <p><strong><%= t('activerecord.attributes.live_data_sets.event_id') %>:</strong>
  <%= @live_data_set.event.name %></p>
  <p><strong><%= t('activerecord.attributes.live_data_sets.precincts_completed') %>:</strong>
  <%= @live_data_set.precincts_completed %></p>
  <p><strong><%= t('activerecord.attributes.live_data_sets.precincts_total') %>:</strong>
  <%= @live_data_set.precincts_total %></p>
  <p><strong><%= t('activerecord.attributes.live_data_sets.timestamp') %>:</strong>
  <%= l @live_data_set.timestamp, :format => :long if @live_data_set.timestamp %></p>
  <p><strong><%= t('activerecord.attributes.live_data_sets.show_to_public') %>:</strong>
  <%= @live_data_set.show_to_public %></p>

<div class="form-actions">
  <%= link_to t('app.buttons.edit'),
              edit_live_data_set_path(@live_data_set), :class => 'btn' %>
  <%= link_to t('app.buttons.list'),
              live_data_sets_path, :class => 'btn'  %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
