<h2><%= "#{t('app.common.event')}: #{@event.name}" %></h2>
<h3>
	<%= "#{t('app.common.indicator_type_relationship')}: #{@event_indicator_relationships.first.indicator_type.name}" if !@event_indicator_relationships.empty? && @event_indicator_relationships.first.indicator_type_id %>
	<%= "#{t('app.common.indicator_relationship')}: #{@event_indicator_relationships.first.core_indicator.name}" if !@event_indicator_relationships.empty? && @event_indicator_relationships.first.core_indicator_id %>
</h3>
<% path = params[:action] == "new" ?
		event_indicator_relationships_path(:id => params[:id]) :
		event_indicator_relationship_path(params[:id]) %>
<%= form_tag path,	:method => params[:action] == "new" ? :post : :put do %>
    <% @counter = @event_indicator_relationships.length %>
	  <%= hidden_field_tag 'event_id', params[:id] %>
<% if params[:action] != "new" %>
	  <%= hidden_field_tag 'indicator_type_id', params[:indicator_type_id] %>
	  <%= hidden_field_tag 'core_indicator_id', params[:core_indicator_id] %>
<% end %>
	  <%= hidden_field_tag 'type', params[:type] %>
	  <%= hidden_field_tag 'counter', @counter %>

	<% if params[:action] == "new" %>
		<% if params[:type] == "indicator_type" %>
			<p>
				<%= label_tag "indicator_type_id", t('app.common.indicator_type_relationship'), :class => "label" %>
				<%= select_tag "indicator_type_id",
					options_from_collection_for_select(@unused_indicator_types, "id", "name") %>
			</p>
		<% elsif params[:type] == "indicator" %>
			<p>
				<%= label_tag "core_indicator_id", t('app.common.indicator_relationship'), :class => "label" %>
				<%= select_tag "core_indicator_id",
					options_from_collection_for_select(@unused_indicators, "id", "name")%>
			</p>
		<% end %>
	<% end %>

	<hr />

	<div id="relationships">
		<% @event_indicator_relationships.each_with_index do |relationship,i| %>
			<div id="<%= "event_indicator_relationship_#{relationship.id}"%>">
				<%= hidden_field_tag 'event_indicator_relationship_id', relationship.id,
						:name => "event_indicator_relationship[#{i}][id]" %>
				<% if relationship.related_indicator_type_id %>
					<p>
						<%= label_tag "event_indicator_relationship_related_indicator_type_id", t('app.common.indicator_type'), :class => "label" %>
						<%= select_tag "event_indicator_relationship_related_indicator_type_id",
							options_from_collection_for_select(@indicator_types, "id", "name",
								relationship.related_indicator_type_id),
							:name => "event_indicator_relationship[#{i}][related_indicator_type_id]" %>
					</p>
					<p>
						<%= label_tag "event_indicator_relationship_sort_order", t('app.common.sort_order'), :class => "label" %>
						<%= text_field_tag 'event_indicator_relationship_sort_order', relationship.sort_order,
								:name => "event_indicator_relationship[#{i}][sort_order]", :maxlength => 5, :size => 3 %>

					</p>
					<p>
						<%= button_tag 'remove', :type => 'button', :class => "remove", :id => "event_indicator_relationship_#{relationship.id}" %>
					</p>
					<hr />
				<% elsif relationship.related_core_indicator_id %>
					<p>
						<%= label_tag "event_indicator_relationship_related_core_indicator_id", t('app.common.indicator'), :class => "label" %>
						<%= select_tag "event_indicator_relationship_related_core_indicator_id",
							options_from_collection_for_select(@core_indicators, "id", "name",
							 relationship.related_core_indicator_id),
							:name => "event_indicator_relationship[#{i}][related_core_indicator_id]" %>
					</p>
					<p>
						<%= label_tag "event_indicator_relationship_sort_order", t('app.common.sort_order'), :class => "label" %>
						<%= text_field_tag 'event_indicator_relationship_sort_order', relationship.sort_order,
								:name => "event_indicator_relationship[#{i}][sort_order]", :maxlength => 5, :size => 3 %>

					</p>
					<p>
						<%= button_tag 'remove', :type => 'button', :class => "remove", :id => "event_indicator_relationship_#{relationship.id}" %>
					</p>
					<hr />
				<% end %>
			</div>
		<% end %>
	</div>

	<p>
	  <%= button_tag 'add indicator type', :type => 'button', :id => 'add_indicator_type_block',
			:disabled => @indicator_types.empty? %>
	  <%= button_tag 'add indicator', :type => 'button', :id => 'add_indicator_block',
			:disabled => @core_indicators.empty? %>
	</p>
	<hr />
	<p>
	  <%= submit_tag params[:action] == "new" ? t("app.buttons.create") : t("app.buttons.update"), :id => "submit" %>
		<%= link_to t("app.buttons.reset"), request.fullpath %>
	</p>

<% end %>
