<% title t('.title') %>

<table>
  <tr>
    <th><%= t('app.common.event') %></th>
    <th><%= t('app.common.num_indicator_types') %></th>
    <th><%= t('app.common.num_indicators') %></th>
  </tr>

<% @events.each do |event| %>
  <tr class="<%= cycle("odd_row", "even_row")%>">
    <td><%= link_to event.name, event_indicator_relationship_path(event.id) %></td>
    <td><%= event.event_indicator_relationships.select{|x| x.indicator_type_id != nil}.uniq{|x| x.indicator_type_id}.count %></td>
    <td><%= event.event_indicator_relationships.select{|x| x.core_indicator_id != nil}.uniq{|x| x.core_indicator_id}.count %></td>
</td>
  </tr>
<% end %>
</table>

<div class="admin_nav">
	<%= link_to t('app.buttons.new_event_custom_views'), new_event_indicator_relationship_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>
