<% title t('.title') %>

<div class="form-actions">
	<%= link_to t('app.buttons.new_indicator_types'), new_admin_indicator_type_path,
  :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>

<table class="table table-striped">
<thead>
  <tr>
    <th><%= t('app.common.name') %></th>
    <th><%= t('app.common.has_summary') %></th>
    <th><%= t('app.common.sort_order') %></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @indicator_types.each do |indicator_type| %>
  <tr>
    <td><%= link_to indicator_type.name, admin_indicator_type_path(indicator_type) %></td>
    <td><%= indicator_type.has_summary %></td>
    <td><%= indicator_type.sort_order %></td>
    <td><%= link_to t('app.buttons.edit'), edit_admin_indicator_type_path(indicator_type), :class => 'btn btn-mini' %></td>
    <td><%= link_to t('app.buttons.delete'), admin_indicator_type_path(indicator_type), confirm: t('app.msgs.delete_confirm'), method: :delete,
    :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>

