<%= semantic_form_for(@event) do |f| %>
	<%= f.error_messages %>
	<%= f.inputs :for => :event_translations do |event_translation, i| %>

		<% formLocale = I18n.available_locales[i-1] %>

		<div id="form-<%= formLocale %>" class="multilanguage">
			<h3><%= t("app.language.#{formLocale}") %></h3>

			<%= event_translation.input :name %>
			<%= event_translation.input :name_abbrv %>
			<%= event_translation.input :description %>
			<%= event_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.inputs do %>
		<%= f.input :event_type %>
		<%= f.input :event_date, :start_year => 2006 %>
		<%= f.input :shape_id %>
	<% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), events_path, :class => 'btn btn-mini btn-warning' %>
	</div>

<% end %>
