<%= semantic_form_for(@event) do |f| %>
	<%= f.error_messages %>
	<%= f.inputs :for => :event_translations do |event_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage" style="<%= 'display:none;' if formLocale.to_s != params[:locale] %>">
			<%= event_translation.input :name %>
			<%= event_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.inputs do %>
		<%= f.input :event_type %>
		<%= f.input :shape %>
	<% end %>

	<%= f.actions :submit, :reset, :cancel %>
<% end %>
