<% title t('.title') %>

<table class="table table-striped">
<thead>
  <tr>
    <th><%= t('app.common.name') %></th>
    <th><%= t('app.common.name_abbrv') %></th>
    <th><%= t('app.common.event_type') %></th>
    <th><%= t('app.common.event_date') %></th>
    <th><%= t('app.common.parent_shape') %></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %></td>
    <td><%= event.name_abbrv %></td>
    <td><%= event.event_type.name %></td>
    <td><%= event.event_date %></td>
    <td><%= event.shape_id %></td>
    <td><%= link_to t('app.buttons.edit'), edit_event_path(event), :class => 'btn btn-mini' %></td>
    <td><%= link_to t('app.buttons.delete'), event, :confirm => t('app.msgs.delete_confirm'), :method => :delete,
    :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>

<div class="form-actions">
	<%= link_to t('app.buttons.new_events'), new_event_path,
  :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
