<% title t('.title') %>

<table>
  <tr>
    <th><%= t('app.common.name') %></th>
    <th><%= t('app.common.event_type') %></th>
    <th><%= t('app.common.event_date') %></th>
    <th><%= t('app.common.parent_shape') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.event_type.name %></td>
    <td><%= event.event_date %></td>
    <td><%= event.shape_id %></td>
    <td><%= link_to t('app.buttons.show'), event %></td>
    <td><%= link_to t('app.buttons.edit'), edit_event_path(event) %></td>
    <td><%= link_to t('app.buttons.delete'), event, :confirm => t('app.msgs.delete_confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('app.buttons.new_events'), new_event_path %>
