<% title t('.title') %>
<th></th>
<th></th>
<th></th>
<th></th>

<p>
  <b><%= t('app.common.name') %>:</b>
  <%= @event.name %>
</p>

<p>
  <b><%= t('app.common.event_type') %>:</b>
  <%= @event.event_type.name %>
</p>

<p>
  <b><%= t('app.common.event_date') %>:</b>
  <%= @event.event_date %>
</p>

<p>
  <b><%= t('app.common.parent_shape') %>:</b>
  <%= @event.shape_id %>
</p>


<%= link_to t('app.buttons.edit'), edit_event_path(@event) %> |
<%= link_to t('app.buttons.list'), events_path %>
