<% title t('.title') %>

<p>
  <b><%= t('app.common.name') %>:</b>
  <%= @event.name %>
</p>

<p>
  <b><%= t('app.common.name_abbrv') %>:</b>
  <%= @event.name_abbrv %>
</p>

<p>
  <b><%= t('app.common.description') %>:</b>
</p>
<%= simple_format(@event.description, {}, :sanitize => false) %>

<p>
  <b><%= t('app.common.event_type') %>:</b>
  <%= @event.event_type.name %>
</p>

<p>
  <b><%= t('app.common.event_date') %>:</b>
  <%= @event.event_date %>
</p>

<p>
  <b><%= t('app.common.parent_shape') %>:</b>
  <%= @event.shape_id %>
</p>

<div class="admin_nav">
	<%= link_to t('app.buttons.edit'), edit_event_path(@event) %>
	<%= link_to t('app.buttons.list'), events_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>
