<% title t('.title') %>

<p>
  <strong><%= t('app.common.name') %>:</strong>
  <%= @event.name %>
</p>

<p>
  <strong><%= t('app.common.name_abbrv') %>:</strong>
  <%= @event.name_abbrv %>
</p>

<p>
  <strong><%= t('app.common.description') %>:</strong>
</p>
<%= simple_format(@event.description, {}, :sanitize => false) %>

<p>
  <strong><%= t('app.common.event_type') %>:</strong>
  <%= @event.event_type.name %>
</p>

<p>
  <strong><%= t('app.common.event_date') %>:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong><%= t('app.common.parent_shape') %>:</strong>
  <%= @event.shape_id %>
</p>

<div class="form-actions">
	<%= link_to t('app.buttons.edit'), edit_event_path(@event),
  :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.list'), events_path,
  :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
