<%= semantic_form_for @page do |f| %>
	<%= f.semantic_errors %>

	<%= f.inputs do %>
		<%= f.input :name %>
	<% end %>

	<%= f.inputs :for => :page_translations do |page_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage">
			<h3><%= @locales[i-1].name %></h3>

			<%= page_translation.input :title %>
			<%= page_translation.input :description, :as => :text %>
			<%= page_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.actions :submit, :reset, :cancel %>
<% end %>
