<%= semantic_form_for @page do |f| %>
	<%= f.semantic_errors %>

	<%= f.inputs do %>
		<%= f.input :name %>
	<% end %>

	<%= f.inputs :for => :page_translations do |page_translation, i| %>

		<% formLocale = I18n.available_locales[i-1] %>

		<div id="form-<%= formLocale %>" class="multilanguage">
			<h3><%= t("app.language.#{formLocale}") %></h3>

			<%= page_translation.input :title %>
			<%= page_translation.input :description, :as => :text %>
			<%= page_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), pages_path, :class => 'btn btn-mini btn-warning' %>
	</div>
<% end %>
