<% title t('.title') %>

<table>
  <tr>
    <th><%= t('app.common.name')%></th>
    <th><%= t('app.common.title')%></th>
    <th><%= t('app.common.description')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= page.title %></td>
    <td><%= page.description %></td>
    <td><%= link_to t('app.buttons.show'), page %></td>
    <td><%= link_to t('app.buttons.edit'), edit_page_path(page) %></td>
    <td><%= link_to t('app.buttons.delete'), page, link_to t('app.msgs.delete_confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('app.buttons.new_pages'), new_page_path %>
