<% title t('.title') %>

<p>
  <b><%= t('app.common.name')%>:</b>
  <%= @page.name %>
</p>

<p>
  <b><%= t('app.common.title')%>:</b>
  <%= @page.title %>
</p>

<p>
  <b><%= t('app.common.description')%>:</b>
</p>
<%= simple_format(@page.description) %>

<%= link_to t('app.buttons.edit'), edit_page_path(@page) %> |
<%= link_to t('app.buttons.list'), pages_path %>
