<% title t('.title') %>

<% if @archives.nil? || @archives.empty? %>
	<p>
		<%= t('.no_archives') %>
	</p>
<% else %>
	<% @archives.each do |archive| %>
		<div id="archive_item">
			<h3><%= archive["date"] %></h3>
			<ul id="archive_links" class="clear">
			<% archive["files"].each do |file| %>
				<li>
					<% lang = "app.language.#{file["locale"].downcase}" %>
					<%= link_to "#{t(lang)} - #{file["file_type"]} (#{number_to_human_size(file["file_size"])})",
							file["url"], :class => "btn btn-mini" %>
				</li>
			<% end %>
			</ul>
			<%= simple_format archive["news"], {}, :sanitize => false %>
		</div>
	<% end %>

	<%= page_navigation_links @archives %>
<% end %>


<% if user_signed_in? %>
<div class="form-actions">
  <%= link_to t('.new', :default => t("app.buttons.new_data_archives")),
            data_archives_new_path,
            :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.admin'), admin_path,
    :class => 'btn' %>
</div>
<% end %>
