<%= semantic_form_for([:admin, @core_indicator]) do |f| %>
	<%= f.error_messages %>

  <% @core_indicator.core_indicator_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
		<%= f.fields_for :core_indicator_translations, trans do |translation| %>

			<div id="form-<%= trans.locale %>" class="multilanguage">
				<h3><%= t("app.language.#{trans.locale}") %></h3>

				<%= translation.input :name %>
				<%= translation.input :name_abbrv %>
				<%= translation.input :description, :input_html => {:rows => 4}, :hint => t('app.common.core_indicator_description_hint') %>
				<%= translation.input :summary, :input_html => {:rows => 4}, :hint => t('app.common.core_indicator_summary_hint') %>
				<%= translation.hidden_field :locale , :value => trans.locale %>
			</div>

		<% end %>
	<% end %>

  <%= f.inputs do %>
    <%= f.input :indicator_type %>
    <%= f.input :number_format %>
    <%= f.input :color, :hint => t("app.msgs.core_indicator_color_share") %>
    <div class="select control-group optional stringish">
	    <%= label_tag "core_indicator_ancestry", t("app.common.indicator_ancestry"), :class => "control-label"%>
				<div class="controls">
			  <%= collection_select "core_indicator", "ancestry", @core_indicators, "id", "name", {:include_blank => true, :selected => @core_indicator.ancestry} %>
	    </div>
    </div>
  <% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), admin_core_indicators_path, :class => 'btn btn-mini btn-warning' %>
	</div>
<% end %>
