<%= semantic_form_for @core_indicator do |f| %>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :core_indicator_translations do |core_indicator_translation, i| %>
		
		<% formLocale = I18n.available_locales[i-1] %>
		
		<div id="form-<%= formLocale %>" class="multilanguage">
			<h3><%= t("app.language.#{formLocale}") %></h3>

		  <%= core_indicator_translation.input :name %>
		  <%= core_indicator_translation.input :name_abbrv %>
		  <%= core_indicator_translation.input :description %>
			<%= core_indicator_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>
  <%= f.inputs do %>
    <%= f.input :indicator_type %>
    <%= f.input :number_format %>
    <%= f.input :color %>
    <li class="string input optional stringish">
    <%= label_tag "core_indicator_ancestry", t("app.common.indicator_ancestry"), :class => "label"%>
    <%= select_tag "core_indicator_ancestry", options_from_collection_for_select(@core_indicators, "id", "name", @core_indicator.ancestry), :name => "core_indicator[ancestry]" %>
    </li>
  <% end %>

	<%= f.actions :submit, :reset, :cancel %>
<% end %>
