<% title t('.title') %>

<table class="table table-striped">
<thead>
  <tr>
    <th><%= t("app.common.name_abbrv") %></th>
    <th><%= t("app.common.name") %></th>
    <th><%= t("app.common.description") %></th>
    <th><%= t("app.common.indicator_type") %></th>
    <th><%= t("app.common.number_format") %></th>
    <th><%= t("app.common.color") %></th>
    <th><%= t("app.common.indicator_ancestry") %></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @core_indicators.each do |core_indicator| %>
  <tr>
    <td><%= link_to core_indicator.name_abbrv, core_indicator %></td>
    <td><%= core_indicator.name %></td>
    <td><%= core_indicator.description %></td>
    <td><%= core_indicator.indicator_type.name %></td>
    <td><%= core_indicator.number_format %></td>
    <td>
			<% if !core_indicator.indicator_color.nil? && !core_indicator.indicator_color.empty? %>
				<span style="background-color: <%= "#{core_indicator.indicator_color}" %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<% end %>
    </td>
    <td><%= core_indicator.parent.name if !core_indicator.ancestry.nil? %></td>
    <td><%= link_to t('app.buttons.edit'), edit_core_indicator_path(core_indicator), :class => 'btn btn-mini' %></td>
  </tr>
<% end %>
</tbody>
</table>

<div class="form-actions">
	<%= link_to t('app.buttons.new_core_indicators'), new_core_indicator_path,
  :class => 'btn btn-primary' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>

