<% title t('.title') %>

<p>
  <b><%= t("app.common.name") %>:</b>
  <%= @core_indicator.name %>
</p>

<p>
  <b><%= t("app.common.name_abbrv") %>:</b>
  <%= @core_indicator.name_abbrv %>
</p>

<p>
  <b><%= t("app.common.description") %>:</b>
  <%= @core_indicator.description %>
</p>

<p>
  <b><%= t("app.common.indicator_type") %>:</b>
  <%= @core_indicator.indicator_type.name %>
</p>

<p>
  <b><%= t("app.common.number_format") %>:</b>
  <%= @core_indicator.number_format %>
</p>

<p>
  <b><%= t("app.common.color") %>:</b>
  <% if !@core_indicator.indicator_color.nil? && !@core_indicator.indicator_color.empty? %>
	  <span style="background-color: <%= "#{@core_indicator.indicator_color}" %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<% end %>
</p>

<p>
  <b><%= t("app.common.indicator_ancestry") %>:</b>
  <%= @core_indicator.parent.name if !@core_indicator.ancestry.nil? %>
</p>

<div class="admin_nav">
	<%= link_to t('app.buttons.edit'), edit_core_indicator_path(@core_indicator) %>
	<%= link_to t('app.buttons.list'), core_indicators_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>

