<% title t('.title') %>

<%= form_tag delete_shapes_path, :multipart => true do %>
	<div>
		<p>
			<%= t('app.common.event') %>
			<%= select_tag "event_id", options_from_collection_for_select(@events, "id", "name", params[:event_id]), :include_blank => true %>
		</p>
		<p>
			<%= t('app.common.shape_type') %>
			<%= select_tag "shape_type_id", "<option value=\"0\">#{t('app.msgs.select_event')}</option>".html_safe %>
		</p>
		<p>
			<%= t('app.common.indicator') %>
			<%= select_tag "indicator_id", "<option value=\"0\">#{t('app.msgs.select_event')}</option>".html_safe %>
		</p>
	</div>
	<div>
	  <%= submit_tag t("app.buttons.delete") %>
	</div>
<% end %>

<div class="admin_nav">
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>
