<% title 'Upload a CSV file For Data' %>

<%= form_tag upload_data_path, :multipart => true do %>
	<div>
		<p>
			<%= link_to "Download the CSV template file for Data", export_data_path %>.
			Please note that you can add as many 'Indicator/Value' columns as you need.
		</p>
	</div>

	<div>
		<p>
			CSV File to Upload
			<%= file_field_tag 'file', :accept => 'text/csv,text/plain' %>
		</p>
	</div>
	<div>
	  <%= submit_tag "Process CSV File" %>
	</div>
<% end %>

<%= link_to 'Back', data_path %>
