<%= semantic_form_for(@indicator_scale) do |f| %>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :indicator_scale_translations do |indicator_scale_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage" style="<%= 'display:none;' if formLocale.to_s != params[:locale] %>">
			<%= indicator_scale_translation.input :name %>
			<%= indicator_scale_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.inputs do %>
		<%= f.input :indicator %>
	<% end %>

	<%= f.actions :submit, :reset, :cancel %>
<% end %>
