<h1>Listing indicator_scales</h1>

<table>
  <tr>
    <th>Indicator</th>
    <th>Name</th>
    <th>Min</th>
    <th>Max</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indicator_scales.each do |indicator_scale| %>
  <tr>
    <td><%= indicator_scale.indicator_id %></td>
    <td><%= indicator_scale.name %></td>
    <td><%= indicator_scale.min %></td>
    <td><%= indicator_scale.max %></td>
    <td><%= link_to 'Show', indicator_scale %></td>
    <td><%= link_to 'Edit', edit_indicator_scale_path(indicator_scale) %></td>
    <td><%= link_to 'Destroy', indicator_scale, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Indicator scale', new_indicator_scale_path %>
