<% title t('.title') %>

<%= form_tag upload_indicator_scales_path, :multipart => true do %>
	<div>
		<p>
			<%= link_to t('.download_link_text'), export_indicator_scales_path %>.
			<%= t('.instructions')%>
		</p>
		<p>
			<%= t('app.common.important')%>:
		</p>
		<ul>
			<li>
				<%= t('.help_1')%>
				<ul>
					<li>
						<%= t('.help_1_1')%>
					</li>
					<li>
						<%= t('.help_1_2')%>
					</li>
					<li>
						<%= t('.help_1_3')%>
					</li>
				</ul>
			</li>
			<li>
				<%= t('.help_2')%>
			</li>
			<li>
				<%= t('.help_3')%>
			</li>
			<li>
				<%= t('.help_4')%>:
				<ul>
					<li>
						<%= t('.help_4_1')%>:
					</li>
					<li>
						<%= t('.help_4_2')%>:
					</li>
				</ul>
			</li>
			<li>
				<%= t('.help_5')%>
			</li>
		</ul>
	</div>

	<div>
		<p>
			<%= t('app.common.file_upload') %>
			<%= file_field_tag 'file', :accept => 'text/csv,text/plain' %>
		</p>
		<p>
			<%= check_box_tag(:delete_records) %>
			<%= label_tag(:delete_records, t('.delete_records')) %>
		</p>
	</div>
	<div>
	  <%= submit_tag t("app.buttons.upload_csv") %>
	</div>
<% end %>

<div class="form-actions">
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>

