<% title 'Upload a CSV File of Indicator Scales' %>

<%= form_tag upload_indicator_scales_path, :multipart => true do %>
	<div>
		<p>
			<%= link_to "Download the CSV template file for Indicator Scales", export_indicator_scales_path %>.
			Please note that you can add as many 'Scale Name' columns as you need.
		</p>
		<p>
			Important:
		</p>
		<ul>
			<li>
				You can provide your own colors or use the application colors.  
				<ul>
					<li>
						If you provide your own colors, each indicator scale must have a color.
					</li>
					<li>
						If you are using the application colors, leave the Scale Color columns empty.
					</li>
					<li>
						If you are using the application colors, you must have between 3 and 9 scales for an indicator.
					</li>
				</ul>
			</li>
			<li>
				Scales must be entered in order from smallest to biggest.
			</li>
			<li>
				If the scale includes a large number, do not include a comma in the number (e.g., 250,000  should be entered as 250000)
			</li>
			<li>
				If the scale covers a range (e.g., 100-200, 200-300, etc): 
				<ul>
					<li>
						The application will apply the following rule: for a scale of x-y, x &lt; number &lt;= y.
					</li>
					<li>
						Sequential ranges (e.g., 100-200, 200-300, etc) must start with the same number that
						the previous range ended with.  
						If you use the following scale of 1-100, 101-200, 201-300, etc, 
						a value of 200.2 will not match with the 101-200 scale or the 201-300 scale, 
						and, therefore, will not appear in the application.
					</li>
				</ul>
			</li>
			<li>
				You do not need to include a scale item for 'No Data'.  That is automatically added for you.
			</li>
		</ul>
	</div>

	<div>
		<p>
			CSV File to Upload
			<%= file_field_tag 'file', :accept => 'text/csv,text/plain' %>
		</p>
		<p>
			<%= check_box_tag(:delete_records) %>
			<%= label_tag(:delete_records, "Delete existing scales on file for the provided Indicator(s)") %>
		</p>
	</div>
	<div>
	  <%= submit_tag "Process CSV File" %>
	</div>
<% end %>

<%= link_to 'Back', admin_path %>
