<%= semantic_form_for(@live_event) do |f| %>
	<%= f.error_messages %>

	<%= f.inputs do %>
		<%= f.input :event, :collection => Hash[Event.get_all_events_by_date.map{|x| ["#{x.name} (#{l x.event_date}) #{'*' if x.live_events && !x.live_events.empty?}", x.id]}],
		    :hint => "( #{t('models.live_data.msgs.event_hint')} )"%>
		<%= f.input :menu_start_date, :as => :string, :input_html => { :size => 20 } %>
		<%= f.input :menu_end_date, :as => :string, :input_html => { :size => 20 } %>
	<% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), live_events_path, :class => 'btn btn-mini btn-warning' %>
	</div>
<% end %>
