<%= semantic_form_for @event_type do |f| %>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :event_type_translations do |event_type_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage">
			<h3><%= @locales[i-1].name %></h3>

			<%= event_type_translation.input :name %>
			<%= event_type_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.actions :submit, :reset, :cancel %>
<% end %>
