<%= semantic_form_for @event_type do |f| %>
	<%= f.error_messages %>

  <% @event_type.event_type_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
		<%= f.fields_for :event_type_translations, trans do |translation| %>

			<div id="form-<%= trans.locale %>" class="multilanguage">
				<h3><%= t("app.language.#{trans.locale}") %></h3>

				<%= translation.input :name %>
				<%= translation.hidden_field :locale , :value => trans.locale %>
			</div>

		<% end %>
	<% end %>

	<%= f.input :sort_order %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), event_types_path, :class => 'btn btn-mini btn-warning' %>
	</div>

<% end %>
