<% title t('.title') %>

<table>
  <tr>
    <th><%= t('app.common.name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_types.each do |event_type| %>
<tr class="<%= cycle("odd_row", "even_row")%>">
    <td><%= event_type.name %></td>
    <td><%= link_to t('app.buttons.show'), event_type %></td>
    <td><%= link_to t('app.buttons.edit'), edit_event_type_path(event_type) %></td>
    <td><%= link_to t('app.buttons.delete'), event_type, :confirm => t('app.msgs.delete_confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="admin_nav">
	<%= link_to t('app.buttons.new_event_types'), new_event_type_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>


