
<div id="indicator_menu_scale">
	<% if !@indicator_types.nil? && !@indicator_types.empty? %>
		<h3 id="indicator_menu_header"><%= t('.indicator_header')%></h3>
		<div id="indicator_menu_tabs">
			<ul>
				<% @indicator_types.each do |indicator_type| %>
					<% is_active = indicator_type.id.to_s == params[:indicator_type_id].to_s ? "ui-tabs-selected ui-state-active" : "" %>
					<li class="<%=is_active%>"><%= link_to indicator_type.name, "#indicator_type_#{indicator_type.id}" %></li>
				<% end %>
			</ul>
			<% @indicator_types.each do |indicator_type| %>
				<div id="<%= "indicator_type_#{indicator_type.id}"%>" class="indicator_links">
					<ul class="menu_list">
						<% if indicator_type.has_summary %>
							<li>
								<% is_active = indicator_type.id.to_s == params[:indicator_type_id].to_s &&
											@summary_view_type_name == params[:view_type] ? "active" : "not_active" %>

								<%= link_to indicator_type.name,
									summary_map_path(params.merge(:indicator_type_id => indicator_type.id, :view_type => @summary_view_type_name, :indicator_id => nil)),

									:class => is_active %>
							</li>
						<% end %>
						<% indicator_type.core_indicators.each do |core| %>
							<% core.indicators.each do |indicator| %>
								<% is_active = indicator.id.to_s == params[:indicator_id].to_s ? "active" : "not_active" %>
								<li>
									<%= link_to core.name_abbrv_w_parent, indicator_map_path(params.merge(:indicator_id => indicator.id,
										:view_type => nil, :indicator_type_id => nil)),
										:title => core.description_w_parent, :class => is_active %>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
