<% indicators_exist = (!@indicator_types.nil? && !@indicator_types.empty?) %>

<div id="indicator_menu_scale" class="clearfix span3">
	<% if indicators_exist %>
		<h3 id="indicator_menu_header" class="toggler"><%= t('.indicator_header')%><span class="arrow_shape">▾</span></h3>
		<div class="toggle">
		  <div id="indicator_menu_tabs">
			  <ul>
				  <% @indicator_types.each do |indicator_type| %>
					  <% is_active = indicator_type.id.to_s == params[:indicator_type_id].to_s ? "ui-tabs-selected ui-state-active" : "" %>
					  <li class="<%=is_active%>"><%= link_to indicator_type.name, "#indicator_type_#{indicator_type.id}" %></li>
				  <% end %>
			  </ul>
			  <% @indicator_types.each do |indicator_type| %>
				  <div id="<%= "indicator_type_#{indicator_type.id}"%>" class="indicator_links">
					  <ul class="menu_list">
						  <% if indicator_type.has_summary %>
							  <li>
								  <% is_active = indicator_type.id.to_s == params[:indicator_type_id].to_s &&
											  @summary_view_type_name == params[:view_type] ? "menu_list_link active" : "menu_list_link  not_active" %>

								  <%= link_to indicator_type.summary_name,
									  summary_map_path(params.merge(:indicator_type_id => indicator_type.id, :view_type => @summary_view_type_name, :indicator_id => nil, :highlight_shape => nil)),
										:"data-id" => "ind_type_#{indicator_type.id}",
									  :class => is_active %>
                  <div class="arrow-left"></div>
							  </li>
						  <% end %>
						  <% indicator_type.core_indicators.each do |core| %>
							  <% core.indicators.each do |indicator| %>
									<% if indicator.visible? %>
										<% is_active = indicator.id.to_s == params[:indicator_id].to_s ? "menu_list_link  active" : "menu_list_link  not_active" %>
										<li>
											<%= link_to core.rank_name_abbrv_w_parent, indicator_map_path(params.merge(:indicator_id => indicator.id,
												:view_type => nil, :indicator_type_id => nil, :highlight_shape => nil)),
												:"data-id" => indicator.id,
												:title => core.description_w_parent, :class => is_active %>
                      <% if @shape_type_ids_for_ind_profile.index(@child_shape_type_id).present? %>
                        <div class="profile_link">
                          <%= link_to(indicator_profile_path(:id => core.id, :event_type_id => params[:event_type_id]), :target => :blank, :title => t('.view_indicator')) do %>
                            <%= image_tag('magnifier.png') %>
                            <span><%= t('.view_indicator') %></span>
                          <% end %>
                        </div>
                      <% end %>
                      <div class="arrow-left"></div>
										</li>
								  <% end %>
							  <% end %>
						  <% end %>
					  </ul>
				  </div>
			  <% end %>
		  </div>
	  </div>
	<% end %>
	<% classname = indicators_exist ? '' : 'class="toggler"'.html_safe %>
	<h3 id="indicator_description" <%= classname %>></h3>
	<% if !indicators_exist %>
	  <div class="toggle">
	<% end %>

  <div id="legend_container" class="clear">
    <ul id="legend">
    </ul>
  </div>

  <div id="map_popup_container" class="clear">
  </div>

	<% if !indicators_exist %>
    </div><!--.toggler-->
  <% end %>
</div>
