<% title 'Administration Section' %>

<h4>Manage Events</h4>
<%= link_to 'Events', events_path %>

<%= link_to 'Indicators', indicators_path %>

<%= link_to 'Indicator Scales', indicator_scales_path %>

<%= link_to 'Event Data', data_path %>

<%= link_to 'Geo Data', shapes_path %>

<h4>Upload CSV files</h4>

<%= link_to 'Indicators', upload_indicators_path %>

<%= link_to 'Data', upload_data_path %>


<h4>Basic Administration</h4>
<%= link_to 'Shape Types', shape_types_path %>

<%= link_to 'Event Types', event_types_path %>

<%= link_to 'Locales', locales_path %>


