<% title 'Administration Section' %>

<h3>Basic Management</h3>
<%= link_to 'Events', events_path %>

<%= link_to 'Shape Types', shape_types_path %>

<%= link_to 'Event Types', event_types_path %>

<%= link_to 'Locales', locales_path %>

<%= link_to 'Basic Pages', pages_path %>

<h3>Upload CSV files</h3>

<%= link_to 'Indicators', upload_indicators_path %>

<%= link_to 'Indicator Scales', upload_indicator_scales_path %>

<%= link_to 'Data', upload_data_path %>

<%= link_to 'Shapes', upload_shapes_path %>



