<% title @map_title %>

<% if !@indicator_types.nil? && !@indicator_types.empty? %>
	<ul id="indicators" class="group">
		<% @indicator_types.each do |indicator_type| %>
			<% if indicator_type.has_summary %>
				<li>
					<% is_active = indicator_type.id.to_s == params[:indicator_type_id].to_s && 
					      @summary_view_type_name == params[:view_type] ? "active" : "not_active" %>
				  <%= link_to t(".indicator_summary_link", :name => indicator_type.name), 
				    summary_map_path(params.merge(:indicator_type_id => indicator_type.id, :view_type => @summary_view_type_name, :indicator_id => nil)), 
				    :class => is_active %>
				</li>
			<% end %>
			<% indicator_type.core_indicators.each do |core| %>
				<% core.indicators.each do |indicator| %>
					<% is_active = indicator.id.to_s == params[:indicator_id].to_s ? "active" : "not_active" %>
					<li>
						<%= link_to core.name_abbrv_w_parent, indicator_map_path(params.merge(:indicator_id => indicator.id, 
						  :view_type => nil, :indicator_type_id => nil)), 
							:title => core.description_w_parent, :class => is_active %>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
<% end %>

<% if !@events.nil? && !@events.empty? %>
	<ul id="events" class="group">
		<% @events.each_with_index do |event, i| %>
			<% if !event.shape_id.nil? 
				 is_active = event.id.to_s == params[:event_id].to_s ? "active" : "not_active" %>
				<li id="<%= event.name.gsub(' ', '-') %>" <% if i==0%>class="first"<% elsif i==@events.length-1%>class="last"<% end %> >
					<%= link_to event.name, indicator_map_path(
						:event_id => event.id, :event_type_id => event.event_type_id, 
						:shape_id => event.shape_id, :shape_type_id => event.shape.nil? ? nil : event.shape.shape_type_id
					), :title => event.name, :class => is_active %><span></span>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<section id="map-container" class="group">

  <div id="map"></div>

	<div id="map-title"><%= @map_title%></div>

	<div id="map-box" style="display: none">
		<h1>&nbsp;</h1>
		<div id="map-box-content"><span id="map-box-indicator"></span>&nbsp;<span id="map-box-value"></span></div>
	</div>

	<div id="export">
		<% if @has_custom_view %>
			<% if @summary_view_type_name == params[:view_type] %>
				<%= link_to(image_tag("switch.png", :alt => t('app.buttons.custom_view')), 
				  summary_map_path(params.merge(:custom_view => (!@is_custom_view).to_s, :indicator_id => @custom_indicator_id)), 
					:id => "switch-custom-view", :title => t('app.buttons.custom_view', 
						:children_shapes => @custom_child_shape_type_name_plural,
						:parent_shape => @parent_shape_type_name_singular)) %>
			<% else %>
				<%= link_to(image_tag("switch.png", :alt => t('app.buttons.custom_view')), 
					indicator_map_path(params.merge(:custom_view => (!@is_custom_view).to_s, :indicator_id => @custom_indicator_id)), 
					:id => "switch-custom-view", :title => t('app.buttons.custom_view', 
						:children_shapes => @custom_child_shape_type_name_plural,
						:parent_shape => @parent_shape_type_name_singular)) %>
			<% end %>
		<% end %>
		<a href="javascript:;" id="export-map" title="<%= t('app.buttons.download_map') %>"><%= image_tag "svg.png", :alt => t('app.buttons.download_map')%></a>
		<%= link_to(image_tag("xls.png", :alt => t('app.buttons.download_data')), 
			download_data_path(:event_id => params[:event_id], :shape_type_id => @child_shape_type_id, :shape_id => params[:shape_id], :map_title => "placeholder", :event_name => "placeholder"), 
			:id => "export-data", :title => t('app.buttons.download_data')) %>
		<%= link_to(image_tag("question.png", :alt => t('.export_help_text'), 
				:title => t('.export_help_text')), 
				view_pages_path(:name => "export_help", :layout => "fancybox"), :class => "fancybox") %>
	</div>

	<div id="indicator-description">
	</div>

	<div id="legend-container" class="clear">
		<ul id="legend">
		</ul>
	</div>

	<ul id="shape_layer_navigation" class="group clear">
		<% if @shape_types.length > 0 %>
			<% @shape_types.each do |type| %>
				<% if type.id == @child_shape_type_id || !type.descendant_ids.index(@child_shape_type_id).nil?%>
					<li class="<%= type.id == @child_shape_type_id ? "active" : "not_active" %>">
						<% if type.has_children? %>
						  <% if @summary_view_type_name == params[:view_type] %>
  							<%= link_to type.name_singular, summary_shape_level_map_path(params.merge({:shape_type_id => type.parent_id, :shape_id => get_shape_id(type.id), :change_shape_type => "true", :parent_shape_clickable => type.is_root?.to_s})), :title => type.name_singular %>
              <% else %>
  							<%= link_to type.name_singular, shape_level_map_path(params.merge({:shape_type_id => type.parent_id, :shape_id => get_shape_id(type.id), :change_shape_type => "true", :parent_shape_clickable => type.is_root?.to_s})), :title => type.name_singular %>
              <% end %>
						<% else %>
							<%= type.name_singular %>
						<% end %>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>

</section>


<% td = @dt.data %>
<% if !td.nil? && !td.empty? %>
<% cqo = @dt.cols_p - @dt.static_cols %>
<div id="data-table-container">
  <h3><%= td[0][0] + ' - ' + td[1][0] %></h3>
  <h3><%= td[0][1] + ' - ' + td[1][1] %></h3>

  <div class="switchers clearfix">
    <div class="arrows">
      <div class="left" data-direction="left"></div>
      <div class="right" data-direction="right"></div>
    </div>

    <% j = 0; %>
    <select id="dt_dd_switcher"><!--data table dropdown switcher-->
      <% @dt.groups.times do |i| %>
        <% val = (i + 1).to_s %>
        <!--<option value="<%= val %>">group #<%= val %></option>-->
        <% @dt.dd_titles[i].each do |title| %>
          <% j = j + 1 %>
          <% selected = @dt.indicator_ids[j].to_s == params[:indicator_id].to_s ? 'selected="selected"'.html_safe : '' %>
          <option <%= selected %> data-i="<%= j %>" value="<%= val %>"><%= title %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <table id="data-table">
    <tr>
      <% td[0].each_with_index do |value, i| %>
        <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
        <% classname = 'cg' + cgnumber.to_s %>
        <th data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
          <%= value %>
        </th>
      <% end %>
    </tr>

    <% td[1..(td.length - 1)].each do |row| %>
      <tr>
        <% row.each_with_index do |value, i| %>
          <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
          <% classname = 'cg' + cgnumber.to_s %>
          <td data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
            <% if i > 0 %>
            <%= link_to(value, indicator_map_path(params.merge(:indicator_id => @dt.indicator_ids[i],  :common_name => row[0]))) %>
              <%# link_to(image_tag('data_table_marker.svg'), indicator_map_path(params.merge(:indicator_id => @dt.indicator_ids[i],  :common_name => row[0]))) %>
            <% else %>
              <%= value %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<% end %>



<%= form_tag "/#{I18n.locale}/export.svg", :method => :post, :id => "hidden_form" do %>
	<%=	hidden_field_tag "hidden_form_parent_layer" %>
	<%= hidden_field_tag "hidden_form_child_layer" %>
	<%=	hidden_field_tag "hidden_form_map_title" %>
	<%=	hidden_field_tag "hidden_form_indicator_name" %>
	<%=	hidden_field_tag "hidden_form_indicator_name_abbrv" %>
	<%=	hidden_field_tag "hidden_form_indicator_description" %>
	<%=	hidden_field_tag "hidden_form_event_name" %>
	<%=	hidden_field_tag "hidden_form_scales" %>
	<%=	hidden_field_tag "hidden_form_colors" %>
	<%=	hidden_field_tag "hidden_form_datetime" %>
<% end %>			


