<% title @map_title %>

<% if !@indicators.nil? && @indicators.length > 0 %>
	<ul id="indicators" class="group">
		<% @indicators.each do |indicator| %>
			<% is_active = indicator.id.to_s == params[:indicator_id].to_s ? "active" : "not_active" %>
			<li>
				<%= link_to indicator.name_abbrv, indicator_map_path(params.merge(:indicator_id => indicator.id)), 
					:title => indicator.name, :class => is_active %>
			</li>
		<% end %>
	</ul>
<% end %>

<% if !@events.nil? && @events.length > 0 %>
	<ul id="events" class="group">
		<% @events.each_with_index do |event, i| %>
			<% if !event.shape_id.nil? 
				 is_active = event.id.to_s == params[:event_id].to_s ? "active" : "not_active" %>
				<li id="<%= event.name.gsub(' ', '-') %>" <% if i==0%>class="first"<% elsif i==@events.length-1%>class="last"<% end %> >
					<%= link_to event.name, indicator_map_path(
						:event_id => event.id, :event_type_id => event.event_type_id, 
						:shape_id => event.shape_id, :shape_type_id => event.shape.nil? ? nil : event.shape.shape_type_id
					), :title => event.name, :class => is_active %><span></span>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<section id="map-container" class="group">

  <div id="map"></div>

	<div id="map-title"><%= @map_title%></div>

	<div id="map-box" style="display: none">
		<h1>&nbsp;</h1>
		<div id="map-box-content"><span id="map-box-indicator"></span>&nbsp;<span id="map-box-value"></span></div>
	</div>

	<div id="export">
		<a href="javascript:;" id="export-map" title="<%= t('app.buttons.download_map') %>"><%= image_tag "svg.png", :alt => t('app.buttons.download_map')%></a>
		<%= link_to(image_tag("xls.png", :alt => t('app.buttons.download_data')), download_data_path(:event_id => params[:event_id], :shape_type_id => @child_shape_type_id, :shape_id => params[:shape_id], :map_title => "placeholder", :event_name => "placeholder"), :id => "export-data", :title => t('app.buttons.download_data')) %>
		<%= link_to(image_tag("question.png", :alt => t('.export_help_text'), :title => t('.export_help_text')), view_pages_path(:name => "export_help", :layout => "fancybox"), :class => "fancybox") %>
	</div>

	<div id="indicator-description">
	</div>

	<div id="legend-container" class="clear">
		<ul id="legend">
		</ul>
	</div>

	<ul id="shape_layer_navigation" class="group clear">
		<% if @shape_types.length > 0 %>
			<% @shape_types.each do |type| %>
				<% if type.id == @child_shape_type_id || !type.descendant_ids.index(@child_shape_type_id).nil?%>
					<li class="<%= type.id == @child_shape_type_id ? "active" : "not_active" %>">
						<% if type.has_children? %>
							<%= link_to type.name_singular, shape_level_map_path(params.merge({:shape_type_id => type.parent_id, :shape_id => get_shape_id(type.id), :change_shape_type => "true", :parent_shape_clickable => type.is_root?.to_s})), :title => type.name_singular %>
						<% else %>
							<%= type.name_singular %>
						<% end %>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>

</section>



<%= form_tag "/#{I18n.locale}/export.svg", :method => :post, :id => "hidden_form" do %>
	<%=	hidden_field_tag "hidden_form_parent_layer" %>
	<%= hidden_field_tag "hidden_form_child_layer" %>
	<%=	hidden_field_tag "hidden_form_map_title" %>
	<%=	hidden_field_tag "hidden_form_indicator_name" %>
	<%=	hidden_field_tag "hidden_form_indicator_name_abbrv" %>
	<%=	hidden_field_tag "hidden_form_indicator_description" %>
	<%=	hidden_field_tag "hidden_form_event_name" %>
	<%=	hidden_field_tag "hidden_form_scales" %>
	<%=	hidden_field_tag "hidden_form_colors" %>
	<%=	hidden_field_tag "hidden_form_datetime" %>
<% end %>			


