<% if !@indicators.nil? && @indicators.length > 0 %>
	<ul id="indicators" class="group">
		<% @indicators.each do |indicator| %>
			<% is_active = indicator.id.to_s == params[:indicator_id] ? "active" : "not_active" %>
			<li>
				<%= link_to indicator.name_abbrv, root_path(request.parameters.merge({:indicator_id => indicator.id})), 
					:title => indicator.name, :class => is_active %>
			</li>
		<% end %>
	</ul>
<% end %>

<% if !@events.nil? && @events.length > 0 %>
	<ul id="datasets" class="group">
		<% @events.each_with_index do |event, i| %>
			<% is_active = event.id.to_s == params[:event_id] ? "active" : "not_active" %>
			<li id="<%= event.name.sub(' ', '-') %>" <% if i==0%>class="first"<% elsif i==@events.count-1%>class="last"<% end %> ><%= link_to event.name, root_path(request.parameters.merge({:event_id => event.id})), :title => event.name, :class => is_active %><span></span></li>
		<% end %>
	</ul>
<% end %>

<section id="map-container" class="group">

  <div id="map"></div>

	<div id="map-title"><%= @map_title%></div>

	<div id="map-box" style="display: none">
		<h1>&nbsp;</h1>
		<div id="map-box-content"><span id="map-box-indicator"></span>&nbsp;<span id="map-box-value"></span></div>
	</div>

	<div id="map-export">
		<a href="javascript:;" id="export-link"><%= image_tag "export-button.png", :alt => 'Export map', :title => 'Export map' %></a>
	</div>

	<div id="legend-container">
		<ul id="legend">
		</ul>
	</div>
</section>

<ul id="views" class="group">
	<% if @shape_types.length > 0 %>
		<% @shape_types.each do |type| %>
			<% if type.id == @child_shape_type_id || !type.descendant_ids.index(@child_shape_type_id).nil?%>
				<li class="<%= type.id == @child_shape_type_id ? "active" : "not_active" %>">
					<%= type.name %>
<% 
=begin 
%>
					<% if type.has_children? %>
						<%= link_to type.name, root_path(request.parameters.merge({:shape_type_id => type.id, :shape_id => get_shape_id(type.id)})), :title => type.name %>
					<% else %>
						<%= type.name %>
					<% end %>
<% 
=end 
%>					
				</li>
			<% end %>
		<% end %>
	<% end %>
</ul>
</section>

