<% title @map_title %>

<% if !@indicators.nil? && @indicators.length > 0 %>
	<ul id="indicators" class="group">
		<% @indicators.each do |indicator| %>
			<% is_active = indicator.id.to_s == params[:indicator_id] ? "active" : "not_active" %>
			<li>
				<%= link_to indicator.name_abbrv, root_path(request.parameters.merge({:indicator_id => indicator.id})), 
					:title => indicator.name, :class => is_active %>
			</li>
		<% end %>
	</ul>
<% end %>

<% if !@events.nil? && @events.length > 0 %>
	<ul id="datasets" class="group">
		<% @events.each_with_index do |event, i| %>
			<% if !event.shape_id.nil? 
				 is_active = event.id.to_s == params[:event_id] ? "active" : "not_active" %>
				<li id="<%= event.name.gsub(' ', '-') %>" <% if i==0%>class="first"<% elsif i==@events.length-1%>class="last"<% end %> >
					<%= link_to event.name, root_path({
						:event_id => event.id, :event_type_id => event.event_type_id, 
						:shape_id => event.shape_id, :shape_type_id => event.shape.nil? ? nil : event.shape.shape_type_id
					}), :title => event.name, :class => is_active %><span></span>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>

<section id="map-container" class="group">

  <div id="map"></div>

	<div id="map-title"><%= @map_title%></div>

	<div id="map-box" style="display: none">
		<h1>&nbsp;</h1>
		<div id="map-box-content"><span id="map-box-indicator"></span>&nbsp;<span id="map-box-value"></span></div>
	</div>

	<div id="map-export">
		<a href="javascript:;" id="export-link"><%= image_tag "export-button.png", :alt => t('.export_link_text'), :title => t('.export_link_text') %></a>
		&nbsp;
		<%= link_to(image_tag("question.png", :alt => t('.export_help_text'), :title => t('.export_help_text'), :size => '15x15'), view_pages_path(:name => "export_help", :layout => "fancybox"), :class => "fancybox") %>
	</div>

	<div id="indicator-description">
	</div>

	<div id="legend-container">
		<ul id="legend">
		</ul>
	</div>

</section>

<ul id="views" class="group">
	<% if @shape_types.length > 0 %>
		<% @shape_types.each do |type| %>
			<% if type.id == @child_shape_type_id || !type.descendant_ids.index(@child_shape_type_id).nil?%>
				<li class="<%= type.id == @child_shape_type_id ? "active" : "not_active" %>">
					<% if type.has_children? %>
						<%= link_to type.name, root_path(request.parameters.merge({:shape_type_id => type.parent_id, :shape_id => get_shape_id(type.id), :change_shape_type => true})), :title => type.name %>
					<% else %>
						<%= type.name %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	<% end %>
</ul>
</section>

<%= form_tag "/export.svg", :method => :post, :id => "hidden_form" do %>
	<%=	hidden_field_tag "hidden_form_parent_layer" %>
	<%= hidden_field_tag "hidden_form_child_layer" %>
	<%=	hidden_field_tag "hidden_form_map_title" %>
	<%=	hidden_field_tag "hidden_form_indicator_name" %>
	<%=	hidden_field_tag "hidden_form_indicator_name_abbrv" %>
	<%=	hidden_field_tag "hidden_form_indicator_description" %>
	<%=	hidden_field_tag "hidden_form_event_name" %>
	<%=	hidden_field_tag "hidden_form_scales" %>
	<%=	hidden_field_tag "hidden_form_colors" %>
	<%=	hidden_field_tag "hidden_form_datetime" %>
<% end %>			


