
<% title @map_title %>
<div class="level-ind">
   <ul id="shape_layer_navigation" class="group clear">
	   <% if @shape_types.length > 0 %>
	      <%
	         i = 0
	         @shape_types.each do |type|
	            if type.id == @child_shape_type_id || !type.descendant_ids.index(@child_shape_type_id).nil?
	               i += 1
	            end
	         end
	      %>
		   <% @shape_types.each_with_index do |type, index| %>
			   <% if type.id == @child_shape_type_id || !type.descendant_ids.index(@child_shape_type_id).nil?%>

		         <li class="lev-ind">
					   <% if type.has_children? %>
					     <% if @summary_view_type_name == params[:view_type] %>
							         <%= link_to type.name_singular, summary_shape_level_map_path(params.merge({:shape_type_id => type.parent_id, :shape_id => get_shape_id(type.id), :change_shape_type => "true", :parent_shape_clickable => type.is_root?.to_s})), :title => type.name_singular %>
                     <% else %>
							         <%= link_to type.name_singular, shape_level_map_path(params.merge({:shape_type_id => type.parent_id, :shape_id => get_shape_id(type.id), :change_shape_type => "true", :parent_shape_clickable => type.is_root?.to_s})), :title => type.name_singular %>
                     <% end %>
					   <% else %>
						   <%= type.name_singular %>
					   <% end %>

				   </li>

               <% if index < i-1 %>
				      <li class="level-arrow">
				         >
				      </li>
				   <% end %>

			   <% end %>
		   <% end %>
	   <% end %>
	   <li class="refresh">
	   <% if @has_custom_view %>
			<% if @summary_view_type_name == params[:view_type] %>
				<%= link_to(image_tag("refresh.png", :alt => t('app.buttons.custom_view')),
				  summary_map_path(params.merge(:custom_view => (!@is_custom_view).to_s, :indicator_id => @custom_indicator_id)),
					:id => "switch-custom-view", :title => t('app.buttons.custom_view',
						:children_shapes => @custom_child_shape_type_name_plural,
						:parent_shape => @parent_shape_type_name_singular)) %>
			<% else %>
				<%= link_to(image_tag("refresh.png", :alt => t('app.buttons.custom_view')),
					indicator_map_path(params.merge(:custom_view => (!@is_custom_view).to_s, :indicator_id => @custom_indicator_id)),
					:id => "switch-custom-view", :title => t('app.buttons.custom_view',
						:children_shapes => @custom_child_shape_type_name_plural,
						:parent_shape => @parent_shape_type_name_singular)) %>
			<% end %>
		<% end %>
		</li>
   </ul>
</div>
<div class="clear row">
<section id="map-container" class="group span9">

  <div id="map"></div>

	<div id="map-title"><%= @map_title%></div>

	<div id="export">
	   <p>Download:</p>

		<a href="javascript:;" id="export-map" title="<%= t('app.buttons.download_map') %>">SVG</a>


		<%= link_to("XLS",
			download_data_path(:event_id => params[:event_id], :shape_type_id => @child_shape_type_id, :shape_id => params[:shape_id], :map_title => "placeholder", :event_name => "placeholder"),
			:id => "export-data", :title => t('app.buttons.download_data')) %>
		<%= link_to("?",
				view_pages_path(:name => "export_help", :layout => "fancybox"), :class => "fancybox") %>



	</div>

	<% if @custom_view_note %>
		<div id="footnote">
			<%= t('.footnote', :note => @custom_view_note) %>
		</div>
	<% end %>

	<div id='event_description'>
		<h3><%= "#{@event_name}:" %></h3>
		<%= simple_format(@event_description, {}, :sanitize => false) %>
	</div>

</section>

<%= render :partial => "root/indicator_menu_scales"%>
</div>

<% if !@dt.nil? %>
	<% td = @dt.data %>
	<% if !td.nil? && !td.empty? %>
	<% cqo = @dt.cols_p - @dt.static_cols %>
	<div id="data-table-container">
		<div class="switchers clearfix">
		  <div class="arrows">
		    <div class="left" data-direction="left"></div>
		    <div class="right" data-direction="right"></div>
		  </div>

		  <% j = 0; %>
		  <select id="dt_dd_switcher"><!--data table dropdown switcher-->
		    <option disabled selected="selected"></option>
		    <% @dt.groups.times do |i| %>
		      <% val = (i + 1).to_s %>
		      <!--<option value="<%= val %>">group #<%= val %></option>-->
		      <% @dt.dd_titles[i].each do |title| %>
		        <% j = j + 1 %>
		        <% selected = @dt.indicator_ids[j].to_s == params[:indicator_id].to_s ? 'selected="selected"'.html_safe : '' %>
		        <option <%= selected %> data-i="<%= j %>" value="<%= val %>"><%= title %></option>
		      <% end %>
		    <% end %>
		  </select>
		</div>

		<table id="data-table">
		  <tr>
		    <% td[0].each_with_index do |value, i| %>
		      <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
		      <% classname = 'cg' + cgnumber.to_s %>
		      <th data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
		        <%= value %>
		      </th>
		    <% end %>
		  </tr>

		  <% td[1..(td.length - 1)].each do |row| %>
		    <tr>
		      <% row.each_with_index do |value, i| %>
		        <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
		        <% classname = 'cg' + cgnumber.to_s %>
		        <td data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
		          <% if i > 0 %>
		          <%= link_to(value, indicator_map_path(params.merge(:indicator_id => @dt.indicator_ids[i],  :common_name => row[0], :view_type => nil))) %>
		            <%# link_to(image_tag('data_table_marker.svg'), indicator_map_path(params.merge(:indicator_id => @dt.indicator_ids[i],  :common_name => row[0]))) %>
		          <% else %>
		            <%= value %>
		          <% end %>
		        </td>
		      <% end %>
		    </tr>
		  <% end %>
		</table>
	</div>
	<% end %>
<% end %>



<%= form_tag "/#{I18n.locale}/export.svg", :method => :post, :id => "hidden_form" do %>
	<%=	hidden_field_tag "hidden_form_parent_layer" %>
	<%= hidden_field_tag "hidden_form_child_layer" %>
	<%=	hidden_field_tag "hidden_form_map_title" %>
	<%=	hidden_field_tag "hidden_form_indicator_name" %>
	<%=	hidden_field_tag "hidden_form_indicator_name_abbrv" %>
	<%=	hidden_field_tag "hidden_form_indicator_description" %>
	<%=	hidden_field_tag "hidden_form_event_name" %>
	<%=	hidden_field_tag "hidden_form_scales" %>
	<%=	hidden_field_tag "hidden_form_colors" %>
	<%=	hidden_field_tag "hidden_form_datetime" %>
	<%=	hidden_field_tag "hidden_form_opacity" %>
<% end %>			
