<%= content_for :body_id, 'body_landing_page' %>

<style>

  #summary_data_above_map{
    background-color: transparent;
  }

  #summary_data_above_map a{
    text-decoration: underline;
  }

  #summary_data_above_map h2{
    background-color: #B8B8B8;
    text-align: center;
    padding: 5px;
  }
  
  #summary_data_above_map > div > div:first-of-type{
    background-color: #fff;
    
  }
</style>


<div id="landing_page2">
  <div class="row-fluid">
    <div class="span9">
<!--
      <div class="header_bar">
        <h2 style="background-color: #e2494b; color: #fff;">
          <%= image_tag('live_icon.png') %>
          <%= t('.live_elections_header') %>
        </h2>
      </div>
        
      <% @summary_data.each_with_index do |data, i| %>
        <% break if i > 0 %>
        <div class="clear">
          <div class="map_image">
            <% if data[:parent_summary_img].present? %>
              <% 
               style_parent = ''
               style_child = ''
                if data[:parent_summary_img_json].present? 
                   orig_width = data[:parent_summary_img_json]['width'].present? ? data[:parent_summary_img_json]['width'] : '0'
                   orig_height = data[:parent_summary_img_json]['height'].present? ? data[:parent_summary_img_json]['height'] : '0'
                   style_width = orig_width > '0' ? "width: #{orig_width}px; " : ''
                   style_height = orig_height > '0' ? "height: #{orig_height}px; " : ''
                   style_img = style_width + style_height
                 end
               %>
              <%= image_tag(data[:parent_summary_img], :style => style_img, 
                  :'data-width' => orig_width, :'data-height' => orig_height) %>
              
            <% end %>
          </div>        


          <div class="bar_items">
            <h3>
              <%= link_to '2013 Presidential', 
                indicator_map_path(:event_id => data[:election].id, :event_type_id => data[:election].event_type_id) %>
            </h3>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= data[:summary_item][1][:winner_color] %>;">
                <%= data[:summary_item][1][:winner_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= data[:summary_item][1][:winner_color] %>;">
                <%= data[:summary_item][1][:winner_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart" style="width: <%= data[:summary_item][1][:winner_percent]%>; background-color: <%= data[:summary_item][1][:winner_color] %>" 
                    title="<%= "#{data[:summary_item][1][:winner_name]} - #{data[:summary_item][1][:winner_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="<%= barchart_no_overflow(data[:summary_item][1][:winner_percent])%> color: <%= data[:summary_item][1][:winner_color] %>">
                  <%= data[:summary_item][1][:winner_percent] %>
                </div>
              </div>
            </div>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= data[:summary_item][1][:second_color] %>;">
                <%= data[:summary_item][1][:second_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= data[:summary_item][1][:second_color] %>;">
                <%= data[:summary_item][1][:second_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart" style="width: <%= data[:summary_item][1][:second_percent]%>; background-color: <%= data[:summary_item][1][:second_color] %>" 
                    title="<%= "#{data[:summary_item][1][:second_name]} - #{data[:summary_item][1][:second_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="<%= barchart_no_overflow(data[:summary_item][1][:second_percent])%> color: <%= data[:summary_item][1][:second_color] %>">
                  <%= data[:summary_item][1][:second_percent] %>
                </div>
              </div>
            </div>
            <div class="bar_item">
              <div class="bar_item_name" style="color: #000;">
                Precincts Reporting
              </div>
              <div class="bar_item_number" style="color: #000 %>;">
                2,989
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart" style="width: 34%; background-color: #000;">
                </div>
                <div class="bar_item_chart_percent" style="<%= barchart_no_overflow('34%')%> color: #000;">
                  34%
                </div>
              </div>
            </div>
          </div>   

        </div>
      
      <% end %>

-->
      <div class="header_bar" style="position: relative;">
        <h2><%= t('.elections_header') %></h2>
        <a href="#" style="position:absolute; right: 5px; top: 5px;">View All</a>
      </div>
        
      <% @summary_data.each do |data| %>
        <div class="election_item clear">
          <div class="map_image">
            <% if data[:parent_summary_img].present? %>
              <% 
               style_parent = ''
               style_child = ''
                if data[:parent_summary_img_json].present? 
                   orig_width = data[:parent_summary_img_json]['width'].present? ? data[:parent_summary_img_json]['width'] : '0'
                   orig_height = data[:parent_summary_img_json]['height'].present? ? data[:parent_summary_img_json]['height'] : '0'
                   style_width = orig_width > '0' ? "width: #{orig_width}px; " : ''
                   style_height = orig_height > '0' ? "height: #{orig_height}px; " : ''
                   style_img = style_width + style_height
                 end
               %>
              <%= image_tag(data[:parent_summary_img], :style => style_img, 
                  :'data-width' => orig_width, :'data-height' => orig_height) %>
              
            <% end %>
          </div>        


          <div class="bar_items">
            <h3>
              <%= link_to data[:election].name, 
                indicator_map_path(:event_id => data[:election].id, :event_type_id => data[:election].event_type_id) %>
            </h3>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= data[:summary_item][1][:winner_color] %>;">
                <%= data[:summary_item][1][:winner_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= data[:summary_item][1][:winner_color] %>;">
                <%= data[:summary_item][1][:winner_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart" style="width: <%= data[:summary_item][1][:winner_percent]%>; background-color: <%= data[:summary_item][1][:winner_color] %>" 
                    title="<%= "#{data[:summary_item][1][:winner_name]} - #{data[:summary_item][1][:winner_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="<%= barchart_no_overflow(data[:summary_item][1][:winner_percent])%> color: <%= data[:summary_item][1][:winner_color] %>">
                  <%= data[:summary_item][1][:winner_percent] %>
                </div>
              </div>
            </div>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= data[:summary_item][1][:second_color] %>;">
                <%= data[:summary_item][1][:second_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= data[:summary_item][1][:second_color] %>;">
                <%= data[:summary_item][1][:second_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart" style="width: <%= data[:summary_item][1][:second_percent]%>; background-color: <%= data[:summary_item][1][:second_color] %>" 
                    title="<%= "#{data[:summary_item][1][:second_name]} - #{data[:summary_item][1][:second_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="<%= barchart_no_overflow(data[:summary_item][1][:second_percent])%> color: <%= data[:summary_item][1][:second_color] %>">
                  <%= data[:summary_item][1][:second_percent] %>
                </div>
              </div>
            </div>
          </div>   

        </div>
      
      <% end %>

      <% if @summary_lists.present? %>
        <div id="voter_lists">
          <div class="header_bar" style="position: relative;">
            <h2><%= t('.voters_lists_header') %></h2>
            <a href="#" style="position:absolute; right: 5px; top: 5px;">View All</a>
          </div>
          
          <div id="list_items">
            <% @summary_lists.each do |data| %>
              <div class="list_item clear">
                <div class="map_image">
                  <% if data[:parent_summary_img].present? %>
                    <% 
                     style_parent = ''
                     style_child = ''
                      if data[:parent_summary_img_json].present? 
                         orig_width = data[:parent_summary_img_json]['width'].present? ? data[:parent_summary_img_json]['width'] : '0'
                         orig_height = data[:parent_summary_img_json]['height'].present? ? data[:parent_summary_img_json]['height'] : '0'
                         style_width = orig_width > '0' ? "width: #{orig_width}px; " : ''
                         style_height = orig_height > '0' ? "height: #{orig_height}px; " : ''
                         style_img = style_width + style_height
                       end
                     %>
                    <%= image_tag(data[:parent_summary_img], :style => style_img, 
                        :'data-width' => orig_width, :'data-height' => orig_height) %>
                    
                  <% end %>
                </div>        

                <div class="list_text">
                  <h3>
                    <%= link_to data[:list].name, 
                      indicator_map_path(:event_id => data[:list].id, :event_type_id => data[:list].event_type_id) %>
                  </h3>
                  <% data[:summary_item].each do |item| %>
                    <div>
                      <strong><%= item['indicator_name_abbrv']%>:</strong>
                      <%= item['formatted_value'] %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="span3">
      <div id="about">
        <%= simple_format(@about.description, {}, :sanitize => false) %>
      </div>


      <div id="news">
        <h2><%= t('.news_header') %></h2>
        <div class="row2_links">
          <% if @news.present? %>
            <div id="news_section">
              <ul>
                <% @news.each do |n| %>
                  <li>
                    <div class="news_date">
                      <%= link_to news_path do %>
                        <%= l Date.new(n.date_posted.year, n.date_posted.month, n.date_posted.day), :format => :long %>
                      <% end %>
                    </div>
                    <div class="news_text">
                      <%= truncate(strip_tags(n.description), :length => 125, :separator => ' ', :omission => '...')   %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div id="news_circle">
          <%= link_to news_path do %>
            <div class="grey">
              <div class="show_all">
                <%= t('.show_all') %>
              </div>
            </div>
          <% end %>
        </div>
      </div>


      <div id="links">
        <h2><%= t('.links_header') %></h2>
        <div>
          <a href="http://timeline.electionportal.ge/<%= I18n.locale %>" target="_blank" title="<%= t('.timeline') %>">
            <%= image_tag("timeline_#{I18n.locale}.jpg") %>
          </a>
        </div>
        <div>
          <a href="http://electionportal.ge/" target="_blank" title="<%= t('.portal') %>">
            <%= image_tag("portal_#{I18n.locale}.jpg") %>
          </a>
        </div>
      </div>
      
    </div>  

  </div>

  <div style="display: none;">
    <div id="landing_menu">
      <%= render :partial => "layouts/event_menu_tabs" %>
    </div>  
  </div>    
  
</div>

