  <% title @page_title %>

<% if @live_event_with_no_data %>
  <div id="live_event_no_data">
    <h2>
      <%= @live_event_name %>
    </h2>
		<p>
			<%= t('.delay') %>
		</p>
		<p>
			<%= t('.follow') %>
		</p>
		<% if false %>
	  <p>
			<% if @live_event_data_available %>
		    <%= t('.live_event_available',
						:tbilisi_time => l(@live_event_data_available, :format => :default_no_tz),
						:est_time => l(@live_event_data_available_est, :format => :default_no_tz),
						)
				%>
			<% end %>
	  </p>

		<h3><%= t('.live_event_countdown_header') %>
		<div id="counter_container">
		  <div id="counter"></div>
		  <div id="counter_labels" class="clear">
		    <div><%= t('datetime.prompts.days')%></div>
		    <div><%= t('datetime.prompts.hours')%></div>
		    <div><%= t('datetime.prompts.minutes')%></div>
		    <div><%= t('datetime.prompts.seconds')%></div>
		  </div>
    </div>
		<% end %>
  </div>
<% else %>
  <% if @parent_summary_data.present? && @parent_summary_data.length > 1 %>
    <% 
      span1 = 'span9' 
      span2 = 'span3'
    %>
    <% if @root_summary_data.present? && @root_summary_data.length > 1 %>
      <% 
        span1 = 'span6' 
        span2 = 'span6'
      %>
    <% end %>
    <div id="summary_data_above_map">
      <div class="row-fluid">
        <div class="<%= span1 %>">
        
          <div class="map_image">
            <% if @parent_summary_img.present? %>
              <% 
               style_parent = ''
               style_child = ''
                if @parent_summary_img_json.present? 
                   orig_width = @parent_summary_img_json['width'].present? ? @parent_summary_img_json['width'] : '0'
                   orig_height = @parent_summary_img_json['height'].present? ? @parent_summary_img_json['height'] : '0'
                   style_width = orig_width > '0' ? "width: #{orig_width}px; " : ''
                   style_height = orig_height > '0' ? "height: #{orig_height}px; " : ''
                   style_img = style_width + style_height
                 end
               %>
              <%= image_tag(@parent_summary_img, :style => style_img, 
                  :'data-width' => orig_width, :'data-height' => orig_height) %>
              
            <% end %>
          </div>        
          <div class="bar_items">
            <h3><%= t('.summary_data_above_map.header', :shape => @parent_summary_data[1][:shape]) %></h3>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= @parent_summary_data[1][:winner_color] %>;">
                <%= @parent_summary_data[1][:winner_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= @parent_summary_data[1][:winner_color] %>;">
                <%= @parent_summary_data[1][:winner_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart_bg">
                </div>
                <div class="bar_item_chart" style="width: <%= @parent_summary_data[1][:winner_percent]%>; background-color: <%= @parent_summary_data[1][:winner_color] %>" 
                    title="<%= "#{@parent_summary_data[1][:winner_name]} - #{@parent_summary_data[1][:winner_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="left: <%= @parent_summary_data[1][:winner_percent]%>; color: <%= @parent_summary_data[1][:winner_color] %>">
                  <%= @parent_summary_data[1][:winner_percent] %>
                </div>
              </div>
            </div>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= @parent_summary_data[1][:second_color] %>;">
                <%= @parent_summary_data[1][:second_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= @parent_summary_data[1][:second_color] %>;">
                <%= @parent_summary_data[1][:second_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart_bg">
                </div>
                <div class="bar_item_chart" style="width: <%= @parent_summary_data[1][:second_percent]%>; background-color: <%= @parent_summary_data[1][:second_color] %>" 
                    title="<%= "#{@parent_summary_data[1][:second_name]} - #{@parent_summary_data[1][:second_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="left: <%= @parent_summary_data[1][:second_percent]%>; color: <%= @parent_summary_data[1][:second_color] %>">
                  <%= @parent_summary_data[1][:second_percent] %>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="<%= span2 %>">
          <% if @root_summary_data.present? && @root_summary_data.length > 1 %>
          <div class="map_image">
            <% if @root_summary_img.present? %>
              <% 
               style_parent = ''
               style_child = ''
                if @root_summary_img_json.present? 
                   orig_width = @root_summary_img_json['width'].present? ? @root_summary_img_json['width'] : '0'
                   orig_height = @root_summary_img_json['height'].present? ? @root_summary_img_json['height'] : '0'
                   style_width = orig_width > '0' ? "width: #{orig_width}px; " : ''
                   style_height = orig_height > '0' ? "height: #{orig_height}px; " : ''
                   style_img = style_width + style_height
                 end
               %>
              <%= image_tag(@root_summary_img, :style => style_img, 
                  :'data-width' => orig_width, :'data-height' => orig_height) %>
              
            <% end %>
          </div>        
          <div class="bar_items">
            <h3><%= t('.summary_data_above_map.header', :shape => @root_summary_data[1][:shape]) %></h3>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= @root_summary_data[1][:winner_color] %>;">
                <%= @root_summary_data[1][:winner_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= @root_summary_data[1][:winner_color] %>;">
                <%= @root_summary_data[1][:winner_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart_bg">
                </div>
                <div class="bar_item_chart" style="width: <%= @root_summary_data[1][:winner_percent]%>; background-color: <%= @root_summary_data[1][:winner_color] %>" 
                    title="<%= "#{@root_summary_data[1][:winner_name]} - #{@root_summary_data[1][:winner_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="left: <%= @root_summary_data[1][:winner_percent]%>; color: <%= @root_summary_data[1][:winner_color] %>">
                  <%= @root_summary_data[1][:winner_percent] %>
                </div>
              </div>
            </div>
            <div class="bar_item">
              <div class="bar_item_name" style="color: <%= @root_summary_data[1][:second_color] %>;">
                <%= @root_summary_data[1][:second_name] %>
              </div>
              <div class="bar_item_number" style="color: <%= @root_summary_data[1][:second_color] %>;">
                <%= @root_summary_data[1][:second_number] %>
              </div>
              <div class="bar_item_charts">
                <div class="bar_item_chart_bg">
                </div>
                <div class="bar_item_chart" style="width: <%= @root_summary_data[1][:second_percent]%>; background-color: <%= @root_summary_data[1][:second_color] %>" 
                    title="<%= "#{@root_summary_data[1][:second_name]} - #{@root_summary_data[1][:second_percent]}" %>">
                </div>
                <div class="bar_item_chart_percent" style="left: <%= @root_summary_data[1][:second_percent]%>; color: <%= @root_summary_data[1][:second_color] %>">
                  <%= @root_summary_data[1][:second_percent] %>
                </div>
              </div>
            </div>
          </div>          
          <% else %>
            <div id="summary_total_turnout">
              <div id="summary_total_turnout_container">
                <div class="half_circle hold">
                  <div class="pie"></div>
                </div>
                <% 
                  perc = @parent_summary_data[1][:total_turnout_percent].gsub('%','').to_f
                  ang = (180 * perc / 100)
                %>
                <div class="tt_percent_circle hold">
                  <div class="pie"  
                    style="-ms-transform:rotate(<%= ang%>deg); -moz-transform:rotate(<%= ang%>deg); -webkit-transform:rotate(<%= ang%>deg); -o-transform:rotate(<%= ang%>deg);	transform:rotate(<%= ang%>deg);">
                  </div>
                </div>
                <div class="tt_number_circle_text">
                    <%= t('app.common.total_turnout') %>:
                    <%= @parent_summary_data[1][:total_turnout_number] %>
                </div>
                <div class="tt_percent_circle_text">
                    <%= @parent_summary_data[1][:total_turnout_percent] %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div id="shape_nav_social_links" class="row-fluid">
  	<div id="shape_layer_navigation" class="span9">
      <%= render "root/shape_nav" %>
  	</div>
  	<div id="social_links" class="span3">
  		<ul class="clear">
  			<li class="f">
  				<a href="<%= "http://www.facebook.com/share.php?u=#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" 
              target="_blank" title="facebook"
              id="facebook_link" data-url="<%= "http://www.facebook.com/share.php?u=#{request.protocol}#{request.host_with_port}" %>"></a>
  			</li>
  			<li class="t">
  				<a href="https://twitter.com/share" target="_blank" title="twitter"></a>
  			</li>
<%
=begin %>
			<li class="g">
				<a href="<%= "https://plusone.google.com/_/+1/confirm?hl=en&url=#{request.protocol}#{request.host_with_port}#{request.fullpath}"%>" target="_blank" title="google+"></a>
			</li>
<%
=end %>
  		</ul>
  	</div>
  </div>

	<% if params[:data_type] == Datum::DATA_TYPE[:live] %>
		<div id="new_data_available" style="display:none;">
			<%= t('.new_data_available_message') %>
			<%= link_to t('.new_data_available_link'),
				params.merge(:data_set_id => @most_recent_dataset ? @most_recent_dataset.id : 'xxx') %>
		</div>
	<% end %>

  <div class="clear row-fluid">

  	<section id="map-container" class="group span12">

      <div style="position: relative;">
  		  <div id="map"></div>
  		  <div class="controls">
  		    <div class="pan">
  		      <a class="north" href="javascript:;"></a>
  		      <div class="clear">
  	          <a class="west" href="javascript:;"></a>
  		        <a class="east" href="javascript:;"></a>
  		      </div>
  		      <a class="south" href="javascript:;"></a>
  		    </div>
  		    <div class="zoom">
  		      <a class="in" href="javascript:map.zoomIn();"></a>
  		      <a class="out" href="javascript:map.zoomOut();"></a>
  		    </div>
  		  </div>

        <div id="export">
  			   <p>Download:</p>

  			  <a href="javascript:;" id="export-map" title="<%= t('app.buttons.download_map') %>">SVG</a>

  			  <%= link_to("XLS",
  				  download_data_xls_path(:event_id => params[:event_id],
							:shape_type_id => @child_shape_type_id, :shape_id => params[:shape_id],
							:map_title => "placeholder", :event_name => "placeholder",
							:data_type => params[:data_type], :data_set_id => params[:data_set_id]),
  				  :id => "export-data-xls", :class => 'download-link', :'data-type' => 'xls', :title => t('app.buttons.download_xls')) %>

  			  <%= link_to("CSV",
  				  download_data_csv_path(:event_id => params[:event_id],
							:shape_type_id => @child_shape_type_id, :shape_id => params[:shape_id],
							:map_title => "placeholder", :event_name => "placeholder",
							:data_type => params[:data_type], :data_set_id => params[:data_set_id]),
  				  :id => "export-data-csv", :class => 'download-link', :'data-type' => 'csv', :title => t('app.buttons.download_csv')) %>

  			  <%= link_to("?",
  					  export_help_path(:layout => "fancybox"),
  						  :class => "fancybox", :title => t('app.buttons.download_help')) %>
  		  </div>
  		</div>

  		<div id="map-loading"></div>

  		<div id="map-title">
				<%= @map_title.html_safe %>
				<% if @map_title_precincts %>
					<span id="live_data"><%= @map_title_precincts %></span>
				<% end %>
			</div>

  			<div id="footnote">
		  		<% if params[:data_type] == Datum::DATA_TYPE[:live] %>
						<p>
							<%= t('.footnote_live_data', :date => l(@live_event_timestamp, :format => :long)) %>
						</p>
		  		<% end %>
		  		<% if @custom_view_note %>
						<p>
							<%= t('.footnote', :note => @custom_view_note) %>
						</p>
		  		<% end %>
  			</div>

  		<% if @event_description %>
  			<div id='event_description'>
  				<h3><%= "#{@event_name}:" %></h3>
  				<%= simple_format(@event_description, {}, :sanitize => false) %>
  			</div>
  		<% end %>

    </section>

    <%= render :partial => "root/indicator_menu_scales"%>

  </div>

  <div class="row-fluid">
    <div id="data-table-container" class="span12">
      <div id="loading_image" class="loading"></div>
      <img id="blur_table_image" src="/assets/table-blur.jpg" width="100%" />
      <div id="dt_ajax_replace"></div>
    </div>
  </div>



  <%= form_tag "/#{I18n.locale}/export.svg", :method => :post, :id => "hidden_form" do %>
  	<%=	hidden_field_tag "hidden_form_parent_layer" %>
  	<%= hidden_field_tag "hidden_form_child_layer" %>
  	<%=	hidden_field_tag "hidden_form_map_title" %>
  	<%=	hidden_field_tag "hidden_form_indicator_name" %>
  	<%=	hidden_field_tag "hidden_form_indicator_name_abbrv" %>
  	<%=	hidden_field_tag "hidden_form_indicator_description" %>
  	<%=	hidden_field_tag "hidden_form_event_name" %>
  	<%=	hidden_field_tag "hidden_form_scales" %>
  	<%=	hidden_field_tag "hidden_form_colors" %>
  	<%=	hidden_field_tag "hidden_form_datetime" %>
  	<%=	hidden_field_tag "hidden_form_opacity" %>
  <% end %>

  <%= form_tag "/#{I18n.locale}/download-data", :method => :post, :id => "hidden_form_data", :'data-action' => "/#{I18n.locale}/download-data" do %>
  	<%=	hidden_field_tag "type" %>
  	<%=	hidden_field_tag "map_title", @map_title %>
  	<%=	hidden_field_tag "event_name", @event_name %>
  	<%=	hidden_field_tag "event_id", params[:event_id] %>
  	<%=	hidden_field_tag "child_shape_type_id", @child_shape_type_id %>
  	<%=	hidden_field_tag "shape_type_id", params[:shape_type_id] %>
  	<%=	hidden_field_tag "shape_id", params[:shape_id] %>
  	<%=	hidden_field_tag "data_type", params[:data_type] %>
  	<%=	hidden_field_tag "data_set_id", params[:data_set_id] %>
  <% end %>

  <canvas id="svg_to_png1" style="display: none;"></canvas>
  <canvas id="svg_to_png2" style="display: none;"></canvas>
  
  <div id="svg_test" style="display:none;">
    <svg>
      <g>
      </g>
    </svg>
  </div>
<% end %>
