<%= semantic_form_for(@indicator) do |f| %>
	<%= f.inputs :for => :indicator_translations do |indicator_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage" style="<%= 'display:none;' if formLocale.to_s != params[:locale] %>">
			<%= indicator_translation.input :name %>
			<%= indicator_translation.hidden_field :locale , :value => formLocale %>
		</div>

	<% end %>

	<%= f.inputs do %>
		<%= f.input :event %>
		<%= f.input :shape_type %>
	<% end %>

	<%= f.actions :submit, :reset, :cancel %>

<% end %>
