<% title t('.title') %>

<%= form_tag download_indicators_path do %>
	<div>
		<p>
			<%= t('app.common.event') %>
			<%= select_tag "event_id", options_from_collection_for_select(@events, "id", "name") %>
		</p>
		<p>
			<%= t('.which_download') %>
			<br />
			<%= radio_button_tag 'download_option', 'names' %>
			<%= label_tag 'download_option_names', t('.name_label') %>
			<%= radio_button_tag 'download_option', 'scales' %>
			<%= label_tag 'download_option_scales', t('.scale_label')%>
			<%= radio_button_tag 'download_option', 'both', true %>
			<%= label_tag 'download_option_both', t('.both_label')%>
		</p>
	</div>
	<div>
	  <%= submit_tag t("app.buttons.download_csv") %>
	</div>
<% end %>

<div class="admin_nav">
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>

