<% title 'Listing indicators' %>

<table>
  <tr>
    <th>Event</th>
    <th>Shape type</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indicators.each do |indicator| %>
  <tr>
    <td><%= indicator.event_id %></td>
    <td><%= indicator.shape_type_id %></td>
    <td><%= indicator.name %></td>
    <td><%= link_to 'Show', indicator %></td>
    <td><%= link_to 'Edit', edit_indicator_path(indicator) %></td>
    <td><%= link_to 'Destroy', indicator, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Indicator', new_indicator_path %>
