<% title 'Upload a CSV file For Indicators' %>

<%= form_tag upload_indicators_path, :multipart => true do %>
	<div>
		<p>
			<%= link_to "Download the CSV template file for Indicators", export_indicators_path %>.
			Please note that you can add as many 'Scale Name' columns as you need.
		</p>
	</div>

	<div>
		<p>
			CSV File to Upload
			<%= file_field_tag 'file', :accept => 'text/csv' %>
		</p>
	</div>
	<div>
	  <%= submit_tag "Process CSV File" %>
	</div>
<% end %>

<%= link_to 'Back', indicators_path %>
