<%- model_class = User -%>
<% title t '.title', :default => model_class.model_name.human %>

<p>
  <strong><%= model_class.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:role) %>:</strong>
  <%= @user.role_name.humanize %>
</p>

<div class="form-actions">
  <%= link_to t('app.buttons.list'),
              admin_users_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit'),
              edit_admin_user_path(@user), :class => 'btn' %>
  <%= link_to t('app.buttons.delete'),
              admin_user_path(@user),
              :method => :delete,
							:data => { :confirm => t('.confirm', :default => t("app.msgs.delete_confirm")) },
              :class => 'btn btn-danger' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
