<%= semantic_form_for(@event_custom_view) do |f| %>
	<%= f.error_messages %>

	<%= f.inputs do %>
		<%= f.input :event %>

			<div class="select control-group optional" id="event_custom_view_shape_type_input">
				<%= label_tag "event_custom_view_shape_type_id", t('app.common.at_shape_type'), :class => "control-label" %>
				<div class="controls">
					<%= select_tag "event_custom_view_shape_type_id", "<option value=\"0\">#{t('app.msgs.select_event')}</option>".html_safe, :name => "event_custom_view[shape_type_id]" %>
				</div>
			</div>

			<div class="select control-group optional" id="event_custom_view_descendant_shape_type_input">
				<%= label_tag "event_custom_view_descendant_shape_type_id", t('app.common.custom_shape_type'), :class => "control-label"%>
				<div class="controls">
					<%= select_tag "event_custom_view_descendant_shape_type_id", "<option value=\"0\">#{t('app.msgs.select_event')}</option>".html_safe, :name => "event_custom_view[descendant_shape_type_id]" %>
				</div>
			</div>
<%
=begin
		<%= f.input :shape_type, :as => :select, :collection => ShapeType.all.collect {|x| [x.name_singular, x.id]} %>
		<%= f.input :descendant_shape_type, :as => :select, :collection => ShapeType.all.collect {|x| [x.name_singular, x.id]} %>
<%
=end %>
		<%= f.input :is_default_view, :as => :radio %>
	<% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), event_custom_views_path, :class => 'btn btn-mini btn-warning' %>
	</div>

<% end %>
