<% title t('.title') %>

<table>
  <tr>
    <th><%= t('app.common.event') %></th>
    <th><%= t('app.common.at_shape_type') %></th>
    <th><%= t('app.common.custom_shape_type') %></th>
    <th><%= t('app.common.is_default_view') %></th>
    <th></th>
    <th></th>
  </tr>

<% @event_custom_views.each do |event_custom_view| %>
  <tr class="<%= cycle("odd_row", "even_row")%>">
    <td><%= event_custom_view.event.name %></td>
    <td><%= event_custom_view.shape_type.name_singular %></td>
    <td><%= event_custom_view.descendant_shape_type.name_singular %></td>
    <td><%= event_custom_view.is_default_view %></td>
    <td><%= link_to t('app.buttons.edit'), edit_event_custom_view_path(event_custom_view) %></td>
    <td><%= link_to t('app.buttons.delete'), event_custom_view, :confirm => t('app.msgs.delete_confirm'), :method => :delete %>
</td>
  </tr>
<% end %>
</table>

<div class="admin_nav">
	<%= link_to t('app.buttons.new_event_custom_views'), new_event_custom_view_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>
