<%= semantic_form_for @indicator_type do |f| %>
  <%= f.error_messages %>
  <%= f.inputs :for => :indicator_type_translations do |indicator_type_translation, i| %>

  	<% formLocale = I18n.available_locales[i-1] %>

  	<div id="form-<%= formLocale %>" class="multilanguage">
  		<h3><%= t("app.language.#{formLocale}") %></h3>

  		<%= indicator_type_translation.input :name %>
  		<%= indicator_type_translation.hidden_field :locale , :value => formLocale %>
  	</div>

  <% end %>

  <%= f.inputs do %>
    <%= f.input :has_summary, :as => :radio, :hint => t("app.msgs.has_summary_hint") %>
    <%= f.input :sort_order, :hint => t("app.msgs.sort_order_hint") %>
  <% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-success' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), indicator_types_path, :class => 'btn btn-mini btn-warning' %>
	</div>

<% end %>
