<% title t('.title') %>

<table>
  <tr>
    <th><%= t('app.common.name') %></th>
    <th><%= t('app.common.has_summary') %></th>
    <th></th>
    <th></th>
  </tr>

<% @indicator_types.each do |indicator_type| %>
  <tr class="<%= cycle("odd_row", "even_row")%>">
    <td><%= link_to indicator_type.name, indicator_type %></td>
    <td><%= indicator_type.has_summary %></td>
    <td><%= link_to t('app.buttons.edit'), edit_indicator_type_path(indicator_type) %></td>
    <td><%= link_to t('app.buttons.delete'), indicator_type, confirm: t('app.msgs.delete_confirm'), method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="admin_nav">
	<%= link_to t('app.buttons.new_indicator_types'), new_indicator_type_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>

