<% if @table_data.present? && @indicator_types.present? %>

    <% 
      ind_ids = [] 
      ind_desc = []
      has_summary = false
    %>

    <div id="data_table_filter_container">
      <select id="data_table_filter" class="event_filter_select chzn-select" multiple>
        <% option_index = 0 %>
        <% @indicator_types.each_with_index do |type, i| %>
          <optgroup label="<%= type[:name] %>">
            <% if type[:has_summary] %>
              <% has_summary = true %>
              <%
	              selected = ''
	              if @table_selected_id.to_s == "ind_type_#{type[:id]}" || option_index < @default_cols_show
	                selected << 'selected="selected"'
	              end
              %>
    			    <option <%= selected %> data-id="ind_type_<%= type[:id] %>" value="<%= option_index %>" title="<%= type[:summary_name] %>"><%= type[:summary_name] %></option>
    			    <% 
    			      option_index += 1 
    			      ind_ids << "ind_type_#{type[:id]}"
    			      ind_desc << type[:summary_name]
    			    %>
            <% end %>

            <% type[:indicators].each_with_index do |ind, j| %>
	            <%
	              selected = ''
	              if @table_selected_id.to_s == ind[:id].to_s || option_index < @default_cols_show
	                selected << 'selected="selected"'
	              end
	            %>
			        <option <%= selected %> data-id="<%= ind[:id] %>" value="<%= option_index %>" title="<%= ind[:descritpion] %>"><%= ind[:name] %></option>
    			    <% 
    			      option_index += 1 
    			      ind_ids << ind[:id]
    			      ind_desc << ind[:description]
    			    %>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>

		<table id="map_data_table" class="table table-striped">
		 <thead>
		  <tr>
		    <% @table_data[0].each_with_index do |value, i| %>
	        <%
	          cls = ''
	          if i > 0 && @table_selected_id.to_s == ind_ids[i-1].to_s
	            cls << 'highlighted'
	          end
	          if i > @default_cols_show && cls.empty?
#	            cls << 'hidden '
	          end

            dataid = 'first_col'
	          if i > 0
	            dataid = ind_ids[i-1]
	          end
	          
	          title = ''
	          if i > 1
	            title = ind_desc[i-1]
	          end
	        %>
		      <th data-id="<%= dataid %>" <%= cls.present? ? "class=#{cls}" : '' %> >
		        <span <%= title.present? ? "title='#{title}'".html_safe : '' %>><%= value %></span>
		      </th>
		    <% end %>
		  </tr>
		 </thead>

		 <tbody>
		  <% @table_data[1..(@table_data.length - 1)].each do |row| %>
		    <tr>
		      <% row.each_with_index do |value, i| %>
	          <%
	            cls = ''
	            if i > 0 && @table_selected_id.to_s == ind_ids[i-1].to_s
	              cls << 'highlighted'
	            end
	            if i > @default_cols_show && cls.empty?
#	              cls << 'hidden '
	            end
		          # if this is winner, highlight it
		          if has_summary && row[1] == @table_data[0][i]
		            cls << 'winner '
		          end

              dataid = 'first_col'
	            if i > 0
	              dataid = ind_ids[i-1]
	            end
	          %>
		        <td data-id="<%= dataid %>" <%= cls.present? ? "class='#{cls}'".html_safe : '' %>>
		          <% if i == 0 %>
		            <span><%= value %></span>
		          <% elsif i == 1 && has_summary%>
		            <%= link_to value, summary_map_path(:event_type_id => params[:event_type_id],
										:event_id => params[:event_id], :shape_type_id => params[:shape_type_id],
										:shape_id => params[:shape_id], :indicator_type_id => ind_ids[i].to_s.gsub('ind_type_', ''),
										:view_type => @summary_view_type_name, :custom_view => params[:custom_view],
										:data_type => params[:data_type], :data_set_id => params[:data_set_id],
										:highlight_shape => row[0], :indicator_id => nil) %>
		          <% else %>
		            <%= link_to(value, indicator_map_path(:event_type_id => params[:event_type_id],
										:event_id => params[:event_id], :shape_id => params[:shape_id],
										:shape_type_id => params[:shape_type_id], :indicator_id => ind_ids[i],
										:custom_view => params[:custom_view], :highlight_shape => row[0],
										:data_type => params[:data_type], :data_set_id => params[:data_set_id], 
                    :indicator_type_id => nil)) %>
		          <% end %>
		        </td>
		      <% end %>
		    </tr>
		  <% end %>
		 </tbody>
		</table>


  <div id="table_color_legend_content">
    <div>
      <span id="table_color_legend_indicator">&nbsp;</span> <%= t('.color_legend_indicator') %>
    </div>
    <div>
      <span id="table_color_legend_winner">&nbsp;</span> <%= t('.color_legend_winner') %>
    </div>
  </div>

	<script type="text/javascript">

    $(document).ready(function(){
      // create local variables
      var default_cols_show = <%= @default_cols_show %>;
      table_ind_ids = <%= raw ind_ids.as_json %>; // this is a global variable

      // create file name for downloads
      var file_name = $('.navmenu-select p').html();

      // build col sorting array so formatted numbers are sorted properly
      col_sort = new Array($('#map_data_table th').length);
      for(var i=0;i<col_sort.length;i++){
        if (i < 2){
          col_sort[i] = { "bVisible": true };
        }else if (i < default_cols_show+1){
          col_sort[i] = { "sType": "formatted-num", "bVisible": true };
        }else {
          col_sort[i] = { "sType": "formatted-num", "bVisible": false };
        }

      }
      // apply jquery datatable
	    $('#map_data_table').dataTable({
        "sDom": "<'row-fluid'<'span4'f><'span4'<'table_color_legend'>><'span4'T>r>t<'row-fluid'<'span5'i><'span2'l><'span5'p>>",    
        "sPaginationType": "bootstrap",
        "bJQueryUI": false,
        "bProcessing": true,
/*        "bStateSave": true,*/
        "bAutoWidth": false,
        "oLanguage": {
          "sUrl": gon.datatable_i18n_url
        },
        "aoColumns": col_sort,
        "iDisplayLength": 20,
        "aLengthMenu": [[20, 40, 60, 80], [20, 40, 60, 80]],
        "oTableTools": {
			    "aButtons": [
            {
              "sExtends": "csv",
              "sTitle": file_name + " - csv"
            },
            {
              "sExtends": "xls",
              "sTitle": file_name + " - xls"
            }
			    ]
		    }
      });
      $('div.table_color_legend').html($('#table_color_legend_content').html());
    });
    

	</script>
	<script type="text/javascript" src="/assets/data_table.js"></script>
<% end %>
