<%# @dt.gon[:dt][:common_name] = (@dt.gon[:dt][:common_name] === false) ? false : "'" + @dt.gon[:dt][:common_name] + "'" %>
<script type="text/javascript">
  if (typeof gon == 'undefined' || gon == null)
  {
    var gon = {};
  }
  if (typeof gon.dt == 'undefined' || gon.dt == null)
  {
    gon.dt = {};
  }
  gon.dt.g           = <%= @dt.gon[:dt][:g] %>;
  gon.dt.p           = <%= @dt.gon[:dt][:p] %>;
  gon.dt.all         = <%= @dt.gon[:dt][:all] %>;
//gon.dt.common_name = <%= @dt.gon[:dt][:common_name] %>;
</script>
<script type="text/javascript" src="/assets/data_table.js"></script>

<% td = @dt.data %>
<% if !td.nil? && !td.empty? %>
  <% cqo = @dt.cols_p - @dt.static_cols %>

  <div class="switchers clearfix">
    <div class="arrows">
      <div class="arrow-container arrow-container-left">
        <div class="overlay"></div>
        <div class="left arrow" data-direction="left"></div>
      </div>
      <div class="arrow-container arrow-container-right">
        <div class="overlay"></div>
        <div class="right arrow" data-direction="right"></div>
      </div>
    </div>

    <select id="dt_dd_switcher"><!--data table dropdown switcher-->
      <option disabled selected="selected"></option>
      <% @dt.dd_titles.each_with_index do |title, i| %>
        <% val = ((i + 1).to_f / cqo).ceil.to_s %>
        <% selected = (@dt.indicator_ids[i + @dt.static_cols].to_s == @dt.sid) ? 'selected="selected"'.html_safe : '' %>
        <option <%= selected %> data-i="<%= (i + 1) %>" value="<%= val %>"><%= title %></option>
      <% end %>
    </select>
  </div>

  <div id="tips-placeholder">
    <div class="sorting-tip">
      TIP! Sort multiple columns simultaneouslyby holding down the
      shift key and clicking a second, third or even fourth column header!
    </div>

    <div class="links-tip">
      click on links
    </div>
  </div>


  <table id="data-table">
   <thead>
    <tr>
      <% td[0].each_with_index do |value, i| %>
        <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
        <% classname = 'cg' + cgnumber.to_s %>
        <th data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
          <span><%= value %></span>
        </th>
      <% end %>
    </tr>
   </thead>

   <tbody>
    <% td[1..(td.length - 1)].each do |row| %>
      <tr>
        <% row.each_with_index do |value, i| %>
          <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
          <% classname = 'cg' + cgnumber.to_s %>
          <td data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
            <% if i == 0 %>
              <span><%= value %></span>
            <% elsif i == 1 && !@dt.indicator_type_ids.empty?%>
              <%= link_to value, summary_map_path(:event_type_id => params[:event_type_id], :event_id => params[:event_id], :shape_type_id => params[:shape_type_id], :shape_id => params[:shape_id], :indicator_type_id => @dt.indicator_type_ids[value], :view_type => @summary_view_type_name, :custom_view => params[:custom_view], :highlight_shape => row[0]) %>
            <% else %>
              <%= link_to(value, indicator_map_path(:event_type_id => params[:event_type_id], :event_id => params[:event_id], :shape_id => params[:shape_id], :shape_type_id => params[:shape_type_id], :indicator_id => @dt.indicator_ids[i], :custom_view => params[:custom_view], :highlight_shape => row[0])) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
   </tbody>
  </table>

<% end %>


<script type="text/javascript">
  dt.init();
</script>
