<% ci = CoreIndicator %>
<% has_summary_data = @summary_data.present? && @summary_data.length > 1 %>
<div class="tabbable">
  <div id="summary_table_tab_container">
    <ul class="nav nav-tabs" >
      <li class="active" style="<%= has_summary_data == true ? '' : 'display:none;' %>">
        <%= link_to t('.tab_summary'), "#tab_summary", :'data-toggle' => 'tab' %>
      </li>
      <li class="<%= has_summary_data ? '' : 'active' %>" style="<%= has_summary_data == true ? '' : 'display:none;' %>">
        <%= link_to t('.tab_details'), "#tab_detail", :'data-toggle' => 'tab' %>
      </li>
    </ul>

    <% 
      download_top = ''
      if !has_summary_data 
        download_top = "style=top:-32px;"
      end 
    %>
    <div id="tips-download" <%= download_top %>>
    <%= link_to("XLS",
	    download_data_xls_path(:event_id => params[:event_id],
			  :child_shape_type_id => @child_shape_type_id, 
			  :shape_type_id => params[:shape_type_id],
			  :shape_id => params[:shape_id],
			  :map_title => "placeholder", :event_name => "placeholder",
			  :data_type => params[:data_type], :data_set_id => params[:data_set_id]),
	    :id => "export-data-xls2", :class => 'download-link', :'data-type' => 'xls', :title => t('app.buttons.download_xls')) %>

		  <%= link_to("CSV",
			  download_data_csv_path(:event_id => params[:event_id],
				  :child_shape_type_id => params[:child_shape_type_id], 
				  :shape_type_id => params[:shape_type_id],
				  :shape_id => params[:shape_id],
				  :map_title => "placeholder", :event_name => "placeholder",
				  :data_type => params[:data_type], :data_set_id => params[:data_set_id]),
			  :id => "export-data-csv2", :class => 'download-link', :'data-type' => 'csv', :title => t('app.buttons.download_csv')) %>
	  </div>
  </div>
  			  
  <div class="tab-content">
    <% if has_summary_data %>
      <div class="tab-pane active" id="tab_summary">
        <table id="map_data_table_summary" class="table table-striped">
          <thead>
            <tr>
              <th>
                <span>
                  <%= @summary_data[0][:shape] %>
                </span>
              </th>
              <th>
                <span>
                  <%= t('models.datum.header.map_level_summary').gsub('[Level]', @summary_data[0][:shape_type_in]) %>
                </span>
              </th>
              <th>
                <span>
                  <%= t('app.common.total_turnout') %>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @summary_data[1..-1].each do |data| %>
              <tr>
                <td class="summary_shape_name">
                  <span><%= data[:shape] %></span>
                </td>    
                <td class="summary_bar_chart_container2" data-sort-num="<%= data[:winner_percent]%>">
                  <div class="summary_bar_chart_container2a">
                    <div class="summary_bar_chart_name" style="color: <%= data[:winner_color] %>;">
                      <%= data[:winner_name] %>
                    </div>
                    <div class="summary_bar_chart_number" style="color: <%= data[:winner_color] %>;">
                      <%= data[:winner_number] %>
                    </div>
                    <div class="summary_bar_chart_charts">
                      <div class="summary_bar_chart" style="width: <%= data[:winner_percent]%>; background-color: <%= data[:winner_color] %>" 
                          title="<%= "#{data[:winner_name]} - #{data[:winner_percent]}" %>">
                      </div>
                      <div class="summary_bar_chart_percent" style="<%= barchart_no_overflow(data[:winner_percent])%> color: <%= data[:winner_color] %>">
                        <%= data[:winner_percent] %>
                      </div>
                    </div>
                  </div>
                  <div class="summary_bar_chart_container2a">
                    <div class="summary_bar_chart_name" style="color: <%= data[:second_color] %>;">
                      <%= data[:second_name] %>
                    </div>
                    <div class="summary_bar_chart_number" style="color: <%= data[:second_color] %>;">
                      <%= data[:second_number] %>
                    </div>
                    <div class="summary_bar_chart_charts">
                      <div class="summary_bar_chart" style="width: <%= data[:second_percent]%>; background-color: <%= data[:second_color] %>" 
                          title="<%= "#{data[:second_name]} - #{data[:second_percent]}" %>">
                        &nbsp;
                      </div>
                      <div class="summary_bar_chart_percent" style="<%= barchart_no_overflow(data[:second_percent])%> color: <%= data[:second_color] %>">
                        <%= data[:second_percent] %>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="summary_total_turnout" data-sort-num="<%= data[:total_turnout_percent]%>">
                  <div>
                    <% if data[:total_turnout_percent].present? && data[:total_turnout_percent].index('%').present? %>
                      <div class="half_circle hold">
                        <div class="pie"></div>
                      </div>
                      <% 
                        perc = data[:total_turnout_percent].gsub('%','').to_f
                        ang = (180 * perc / 100)
                      %>
                      <div class="tt_percent_circle hold">
                        <div class="pie"  
                          style="-ms-transform:rotate(<%= ang%>deg); -moz-transform:rotate(<%= ang%>deg); -webkit-transform:rotate(<%= ang%>deg); -o-transform:rotate(<%= ang%>deg);	transform:rotate(<%= ang%>deg);">
                        </div>
                      </div>
                      <div class="tt_number_circle_text">
                          <%= t('app.common.total_turnout') %>:
                          <%= data[:total_turnout_number] %>
                      </div>
                      <div class="tt_percent_circle_text">
                          <%= data[:total_turnout_percent] %>
                      </div>
                    <% end %>
                  </div>
                </td>
              </tr>   
            <% end %>  
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="tab-pane <%= has_summary_data ? '' : 'active'%>" id="tab_detail">
      <% if @table_data.present? && @indicator_types.present? %>

          <% 
            ind_ids = [] 
            ind_desc = []
            ind_colors = []
            has_summary = false
            ind_type_name = nil
            it_index = @indicator_types.index{|x| x['has_summary'] == true}
            if it_index.present?
              has_summary = true
              ind_type_name = @indicator_types[it_index]['name']
            end
          %>

          <div id="data_table_filter_explanation">
            <%= t('.data_table_filter_explanation') %>
          </div>

          <% if has_summary %>
            <div id="data_table_ind_order_explanation">
              <%= t('.data_table_ind_order_explanation', :name => ind_type_name, :place => params[:ind_order_explanation]) %>
            </div>
          <% end %>

          <div id="data_table_filter_container">
            <select id="data_table_filter" class="event_filter_select chzn-select" multiple>
              <% option_index = 0 %>
              <% @indicator_types.each_with_index do |type, i| %>
                <optgroup label="<%= type['name'] %>">
                  <% if type[:has_summary] %>
                    <%# has_summary = true %>
                    <%
                      selected = ''
                      if @table_selected_id.to_s == "ind_type_#{type['id']}" || option_index < @default_cols_show
                        selected << 'selected=selected'
                      end
                    %>
          			    <!--option <%= selected %> data-id="ind_type_<%= type['id'] %>" value="<%= option_index %>" title="<%= type['summary_name'] %>"><%= type['summary_name'] %></option-->
          			    <% 
#          			      option_index += 1 
#          			      ind_ids << "ind_type_#{type['id']}"
#          			      ind_desc << type['summary_name']
          			    %>
                  <% end %>

                  <% type['indicators'].each_with_index do |ind, j| %>
                    <%
                      selected = ''
                      if @table_selected_id.to_s == ind['id'].to_s || option_index < @default_cols_show
                        selected << 'selected=selected'
                      end
                      
                      text = ci.generate_rank_name(ind['name'], ind['rank'])
                    %>
		                <option <%= selected %> data-id="<%= ind['id'] %>" value="<%= option_index %>" title="<%= ind['description'] %>"><%= text %></option>
          			    <% 
          			      option_index += 1 
          			      ind_ids << ind['id']
          			      ind_desc << ind['description']
          			      ind_colors << ind['color']
          			    %>
                  <% end %>
                </optgroup>
              <% end %>
            </select>
          </div>


	        <table id="map_data_table" class="table table-striped">
	         <thead>
	          <tr>
	            <% @table_data[0].each_with_index do |value, i| %>
                <% if !(i == 1 && has_summary) %>
                <%
                  cls = ''
                  index_adjust = 1
                  index_adjust = 2 if has_summary

#                  if i > 0 && @table_selected_id.to_s == ind_ids[i-1].to_s
                  if i > 0 && @table_selected_id.to_s == ind_ids[i-index_adjust].to_s
                    cls << 'highlighted '
                  end

                  dataid = 'first_col'
                  if i > 0
#                    dataid = ind_ids[i-1]
                    dataid = ind_ids[i-index_adjust]
                  end
                  
                  title = ''
                  if i > index_adjust-1
#                    title = ind_desc[i-1]
                    title = ind_desc[i-index_adjust]
                  end
                %>
	              <th data-id="<%= dataid %>" <%= cls.present? ? "class=#{cls}" : '' %> >
	                <span <%= title.present? ? "title='#{title}'".html_safe : '' %>><%= value %></span>
	              </th>
	              <% end %>
	            <% end %>
	          </tr>
	         </thead>

	         <tbody>
	          <% @table_data[1..-1].each do |row| %>

	            <tr>
	              <% row.each_with_index do |value, i| %>
                <% if !(i == 1 && has_summary) %>
                  <%
                    cls = ''
                    style = ''
#                    if i > 0 && @table_selected_id.to_s == ind_ids[i-1].to_s
                    if i > 0 && @table_selected_id.to_s == ind_ids[i-2].to_s
#                      cls << 'highlighted '
                    end
	                  # if this is winner, highlight it
                    ind_name_with_rank = @table_data[0][i]
                    # format of name is: #x - party name
                    # pull out party name using regexp
                    match = /#\d* - (.*)/.match(ind_name_with_rank)
                    ind_name = match.present? && match[1].present? ? match[1] : nil
#	                  if has_summary && row[1] == @table_data[0][i]
	                  if has_summary && ind_name.present? && row[1] == ind_name
	                    cls << 'winner '
                      style << "background-color: #{ind_colors[i-2]};"
	                  end

                    dataid = 'first_col'
                    if i > 0
#                      dataid = ind_ids[i-1]
                      dataid = ind_ids[i-2]
                    end
                  %>
	                <td data-id="<%= dataid %>" <%= cls.present? ? "class='#{cls}'".html_safe : '' %> <%= style.present? ? "style='#{style}'".html_safe : '' %>>

	                  <% if i == 0 %>
	                    <span><%= value %></span>
	                  <% elsif i == 1 && has_summary%>
	                    <%= link_to value, summary_map_path(:event_type_id => params[:event_type_id],
									        :event_id => params[:event_id], :shape_type_id => params[:shape_type_id],
									        :shape_id => params[:shape_id], :indicator_type_id => dataid.to_s.gsub('ind_type_', ''),
									        :view_type => @summary_view_type_name, :custom_view => params[:custom_view],
									        :data_type => params[:data_type], :data_set_id => params[:data_set_id],
									        :highlight_shape => row[0], :indicator_id => nil) %>
	                  <% else %>
	                    <%= link_to(value, indicator_map_path(:event_type_id => params[:event_type_id],
									        :event_id => params[:event_id], :shape_id => params[:shape_id],
									        :shape_type_id => params[:shape_type_id], :indicator_id => dataid,
									        :custom_view => params[:custom_view], :highlight_shape => row[0],
									        :data_type => params[:data_type], :data_set_id => params[:data_set_id], 
                          :indicator_type_id => nil)) %>
	                  <% end %>
	                </td>
	                <% end %>
	              <% end %>
	            </tr>
	          <% end %>
	         </tbody>
	        </table>


        <div id="table_color_legend_content">
          <% if has_summary %>
            <div>
              <%= t('.color_legend_winner_colors') %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>        

  <script type="text/javascript">

    $(document).ready(function(){
    
      // create local variables
      var default_cols_show = <%= @default_cols_show %>;
      var has_summary = <%= has_summary %>;
      var current_ind_id = <%= params[:indicator_id] %>;
      table_ind_ids = <%= raw ind_ids.as_json %>; // this is a global variable

      // create file name for downloads
      var file_name = $('.navmenu-select p').html();

      // to be able to sort the jquery datatable build in the function below
      jQuery.fn.dataTableExt.oSort['formatted-num-html-asc'] = function ( a1, b1 ) {
        // the text coming in is a link so get text of link
        var a = $(a1).text();
        var b = $(b1).text();
        // if string starts with -, keep it, else remove -
        var x = a.match(/\d/) ? a.match(/^\-/) ? a.replace( /[^\d\-\.]/g, "" ) : a.replace( /[^\d\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.match(/^\-/) ? b.replace( /[^\d\-\.]/g, "" ) : b.replace( /[^\d\.]/g, "" ) : 0;
        return parseFloat(x) - parseFloat(y);
      };

      jQuery.fn.dataTableExt.oSort['formatted-num-html-desc'] = function ( a1, b1 ) {
        // the text coming in is a link so get text of link
        var a = $(a1).text();
        var b = $(b1).text();
        // if string starts with -, keep it, else remove -
        var x = a.match(/\d/) ? a.match(/^\-/) ? a.replace( /[^\d\-\.]/g, "" ) : a.replace( /[^\d\.]/g, "" ) : 0;
        var y = b.match(/\d/) ? b.match(/^\-/) ? b.replace( /[^\d\-\.]/g, "" ) : b.replace( /[^\d\.]/g, "" ) : 0;
        return parseFloat(y) - parseFloat(x);
      };


      jQuery.fn.dataTableExt.afnSortData['sort-data-attr'] = function  ( oSettings, iColumn )
      {
        var aData = [];
        $( 'td:eq('+iColumn+')', oSettings.oApi._fnGetTrNodes(oSettings) ).each( function () {
          aData.push( $(this).data('sort-num') );
        });
        return aData;
      }  


      /////////////////////////////
      // summary table
      /////////////////////////////
      // build col sorting array so formatted numbers are sorted properly
      col_sort = new Array($('#map_data_table_summary th').length);
      // if first col contains numbers, apply formatted sort to it
      var is_numeric = $('#map_data_table_summary tbody tr:first td:first').text().match(/\d/);
      for(var i=0;i<col_sort.length;i++){
        if (i == 0 && is_numeric != null){
          col_sort[i] = { "sType": "formatted-num-html", "bVisible": true };
        }
        else if (i == 0 && is_numeric == null){
          col_sort[i] = null;
        }else {
          col_sort[i] = { "sSortDataType": "sort-data-attr", "sType": "formatted-num", "bVisible": true };
        }
      }

      // apply jquery datatable
      $('#map_data_table_summary').dataTable({
        "sDom": "<'row-fluid'<'span6'f><'span6'>r>t<'row-fluid'<'span5'i><'span2'l><'span5'p>>",    
        "sPaginationType": "bootstrap",
        "bJQueryUI": false,
        "bProcessing": true,
        "bAutoWidth": false,
        "oLanguage": {
          "sUrl": gon.datatable_i18n_url
        },
        "aoColumns": col_sort,
        "iDisplayLength": 20,
        "aLengthMenu": [[20, 40, 60, 80], [20, 40, 60, 80]]
      });

      /////////////////////////////
      // detailed table
      /////////////////////////////
      // build col sorting array so formatted numbers are sorted properly
      // and only show the first default_cols_show cols
      // or the col for the currently selected indicator
      col_sort = new Array($('#map_data_table th').length);
      // if first col contains numbers, apply formatted sort to it
      var is_numeric = $('#map_data_table tbody tr:first td:first').text().match(/\d/);
      var text_index = has_summary ? 2 : 1;
      for(var i=0;i<col_sort.length;i++){
        if (i < text_index && is_numeric == null){
          col_sort[i] = { "bVisible": true };
        }else if (i < default_cols_show+1 || $($('#map_data_table thead tr:first th')[i]).data('id') == current_ind_id){
          col_sort[i] = { "sType": "formatted-num-html", "bVisible": true };
        }else {
          col_sort[i] = { "sType": "formatted-num-html", "bVisible": false };
        }
      }

      // apply jquery datatable
      $('#map_data_table').dataTable({
        "sDom": "<'row-fluid'<'span6'f><'span6'<'table_color_legend'>><'span4'>r>t<'row-fluid'<'span5'i><'span2'l><'span5'p>>",    
        "sPaginationType": "bootstrap",
        "bJQueryUI": false,
        "bProcessing": true,
/*        "bStateSave": true,*/
        "bAutoWidth": false,
        "oLanguage": {
          "sUrl": gon.datatable_i18n_url
        },
        "aoColumns": col_sort,
        "iDisplayLength": 20,
        "aLengthMenu": [[20, 40, 60, 80], [20, 40, 60, 80]]
      });
      
      // give it time to load georgian characters
      setTimeout(function(){$('div.table_color_legend').html($('#table_color_legend_content').html())}, 100);
    });
    

  </script>
  <script type="text/javascript" src="/assets/data_table.js"></script>


