<%# @dt.gon[:dt][:common_name] = (@dt.gon[:dt][:common_name] === false) ? false : "'" + @dt.gon[:dt][:common_name] + "'" %>

<% if !@dt.nil? && !@dt.empty? %>
	<% td = @dt.data %>
	<% if !td.nil? && !td.empty? %>
		<% cqo = @dt.cols_p - @dt.static_cols %>


    <div id="data_table_filter_container">
      <select id="data_table_filter" class="event_filter_select chzn-select" multiple>
			  <% @dt.dd_titles.each_with_index do |title, i| %>
			    <% val = ((i + 1).to_f / cqo).ceil.to_s %>
			    <% selected = i < cqo ? 'selected="selected"'.html_safe : '' %>
			    <option <%= selected %> data-i="<%= (i + 1) %>" value="<%= val %>"><%= title %></option>
			  <% end %>
      </select>
    </div>

		<table id="map_data_table" class="table table-striped">
		 <thead>
		  <tr>
		    <% td[0].each_with_index do |value, i| %>
		      <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
		      <% classname = 'cg' + cgnumber.to_s %>
		      <th data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
		        <span><%= value %></span>
		      </th>
		    <% end %>
		  </tr>
		 </thead>

		 <tbody>
		  <% td[1..(td.length - 1)].each do |row| %>
		    <tr>
		      <% row.each_with_index do |value, i| %>
		        <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
		        <% classname = 'cg' + cgnumber.to_s %>
		        <td data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
		          <% if i == 0 %>
		            <span><%= value %></span>
		          <% elsif i == 1 && @dt.indicator_type_ids.present?%>
		            <%= link_to value, summary_map_path(:event_type_id => params[:event_type_id],
										:event_id => params[:event_id], :shape_type_id => params[:shape_type_id],
										:shape_id => params[:shape_id], :indicator_type_id => @dt.indicator_type_ids[td[0][i]],
										:view_type => @summary_view_type_name, :custom_view => params[:custom_view],
										:data_type => params[:data_type], :data_set_id => params[:data_set_id],
										:highlight_shape => row[0], :indicator_id => nil) %>
		          <% else %>
		            <%= link_to(value, indicator_map_path(:event_type_id => params[:event_type_id],
										:event_id => params[:event_id], :shape_id => params[:shape_id],
										:shape_type_id => params[:shape_type_id], :indicator_id => @dt.indicator_ids[i],
										:custom_view => params[:custom_view], :highlight_shape => row[0],
										:data_type => params[:data_type], :data_set_id => params[:data_set_id], 
                    :indicator_type_id => nil)) %>
		          <% end %>
		        </td>
		      <% end %>
		    </tr>
		  <% end %>
		 </tbody>
		</table>

<div style="display: none;">
		<div id="data-table-top" class="row-fluid">
			<div class="switchers clearfix span10">
				<div class="arrows">
				  <div class="arrow-container arrow-container-left">
				    <div class="overlay"></div>
				    <div class="left arrow" data-direction="left"></div>
				  </div>
				  <div class="arrow-container arrow-container-right">
				    <div class="overlay"></div>
				    <div class="right arrow" data-direction="right"></div>
				  </div>
				</div>

				<select id="dt_dd_switcher"><!--data table dropdown switcher-->
				  <option disabled selected="selected"></option>
				  <% @dt.dd_titles.each_with_index do |title, i| %>
				    <% val = ((i + 1).to_f / cqo).ceil.to_s %>
				    <% selected = (@dt.indicator_ids[i + @dt.static_cols].to_s == @dt.sid) ? 'selected="selected"'.html_safe : '' %>
				    <option <%= selected %> data-i="<%= (i + 1) %>" value="<%= val %>"><%= title %></option>
				  <% end %>
				</select>
			</div>

			<div id="tips-download" class="span2">
				<%= link_to("XLS",
					download_data_xls_path(:event_id => params[:event_id],
						:shape_type_id => params[:child_shape_type_id], :shape_id => params[:shape_id],
						:map_title => "placeholder", :event_name => "placeholder",
						:data_type => params[:data_type], :data_set_id => params[:data_set_id]),
					:id => "export-data-xls2", :title => t('app.buttons.download_xls')) %>

				<%= link_to("CSV",
					download_data_csv_path(:event_id => params[:event_id],
						:shape_type_id => params[:child_shape_type_id], :shape_id => params[:shape_id],
						:map_title => "placeholder", :event_name => "placeholder",
						:data_type => params[:data_type], :data_set_id => params[:data_set_id]),
					:id => "export-data-csv2", :title => t('app.buttons.download_csv')) %>
			</div>
		</div>

		<div id="data-table-top2" class="row-fluid">

			<div id="tips-links" class="span3">
			  <%= t('.links') %>
			</div>

			<div class="span1">
			</div>

			<div id="tips-sorting" class="span8">
			  <%= t('.sorting') %>
			</div>
		</div>

		<table id="data-table">
		 <thead>
		  <tr>
		    <% td[0].each_with_index do |value, i| %>
		      <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
		      <% classname = 'cg' + cgnumber.to_s %>
		      <th data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
		        <span><%= value %></span>
		      </th>
		    <% end %>
		  </tr>
		 </thead>

		 <tbody>
		  <% td[1..(td.length - 1)].each do |row| %>
		    <tr>
		      <% row.each_with_index do |value, i| %>
		        <% cgnumber = (i > 0) ? ((i - @dt.static_cols + (cqo - (i - @dt.static_cols) % cqo)) / cqo).to_s : 0 %>
		        <% classname = 'cg' + cgnumber.to_s %>
		        <td data-i="<%= i %>" <%= (i > cqo) ? ('class="' + classname + ' hidden"').html_safe : ('class="' + classname + '"').html_safe %>>
		          <% if i == 0 %>
		            <span><%= value %></span>
		          <% elsif i == 1 && @dt.indicator_type_ids.present?%>
		            <%= link_to value, summary_map_path(:event_type_id => params[:event_type_id],
										:event_id => params[:event_id], :shape_type_id => params[:shape_type_id],
										:shape_id => params[:shape_id], :indicator_type_id => @dt.indicator_type_ids[td[0][i]],
										:view_type => @summary_view_type_name, :custom_view => params[:custom_view],
										:data_type => params[:data_type], :data_set_id => params[:data_set_id],
										:highlight_shape => row[0], :indicator_id => nil) %>
		          <% else %>
		            <%= link_to(value, indicator_map_path(:event_type_id => params[:event_type_id],
										:event_id => params[:event_id], :shape_id => params[:shape_id],
										:shape_type_id => params[:shape_type_id], :indicator_id => @dt.indicator_ids[i],
										:custom_view => params[:custom_view], :highlight_shape => row[0],
										:data_type => params[:data_type], :data_set_id => params[:data_set_id], 
                    :indicator_type_id => nil)) %>
		          <% end %>
		        </td>
		      <% end %>
		    </tr>
		  <% end %>
		 </tbody>
		</table>
</div>
	<% end %>

	<script type="text/javascript">
		if (typeof gon == 'undefined' || gon == null)
		{
		  var gon = {};
		}
		if (typeof gon.dt == 'undefined' || gon.dt == null)
		{
		  gon.dt = {};
		}
		gon.dt.g           = <%= @dt.gon[:dt][:g] %>;
		gon.dt.p           = <%= @dt.gon[:dt][:p] %>;
		gon.dt.all         = <%= @dt.gon[:dt][:all] %>;
	//gon.dt.common_name = <%= @dt.gon[:dt][:common_name] %>;
	
    // create file name for downloads
    var file_name = $('h1').html();
    file_name += " - ";
    file_name += $('navmenu-select p').html();

    $(document).ready(function(){
	    $('#map_data_table').dataTable({
        "sDom": "<'row-fluid'<'span6'fl><'span6'T>r>t<'row-fluid'<'span6'i><'span6'p>>",    
        "sPaginationType": "bootstrap",
        "bJQueryUI": false,
        "bProcessing": true,
        "bStateSave": true,
        "bAutoWidth": false,
        "oLanguage": {
          "sUrl": gon.datatable_i18n_url
        },
        "iDisplayLength": 20,
        "aLengthMenu": [[20, 40, 60, 80], [20, 40, 60, 80]],
        "oTableTools": {
			    "aButtons": [
            {
              "sExtends": "csv",
              "sTitle": file_name + " - csv"
            },
            {
              "sExtends": "xls",
              "sTitle": file_name + " - xls"
            }
			    ]
		    }
        
      });
    });
    

	</script>
	<script type="text/javascript" src="/assets/data_table.js"></script>
<% end %>
