<!DOCTYPE html>
<html>
<head>
  <title><%= "#{yield (:title)} - Election Map" || "Election Map" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
</head>
<body>

    <header class="group">
    
     	<section id="top" class="group">
    
     		<div class="wrap group"> 
				<div class="map"><a href="/"><%= image_tag "georgia.png", :size => '96x51', :alt => 'Election map logo', :title => 'Home' %></a></div> 
				<div class="logo"><a href="http://www.ndi.org/" target="_blank"><%= image_tag "logo.png", :size => '150x48', :alt => 'National Democratic Institute', :title => 'National Democratic Institute' %></a></div>
    		</div>
    
     	</section>
    
     	<section id="splash" class="group"> 
			<div class="wrap group"> 
				<div id="mode-votings" class="mode group"> <a href="#" class="active"><%= image_tag "votings.png", :size => '85x83', :alt => 'Elections', :title => 'Elections' %></a> 
					<div id="splash-arrow"></div> 
				</div> 
				<div id="mode-lists" class="mode group"> <a href="http://deda.jumpstart.ge/electionmap/map/lists"><%= image_tag "lists.png", :size => '85x83', :alt => 'Voter Lists', :title => 'Voter Lists' %></a> </div> 
			</div> 
		</section>
    
     </header>

	<section id="container" class="wrap group">
		<div id="user_nav">  
		  <% if user_signed_in? %>  
		    Signed in as <%= current_user.email %>. Not you?  
		    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  
		  <% else %>  
		    <%= link_to "Sign up", new_user_registration_path %> or  
		    <%= link_to "Sign in", new_user_session_path %>  
		  <% end %>  
		</div>  

	  <div id="language-form">
	    <ul>
	    <% @locales.each do |locale| %>
	      <% unless locale.language.to_s == I18n.locale.to_s %> 
	        <li><%= link_to locale.name, url_for(locale: locale.language) %></li>
	      <% end %>
	    <% end %>
	    </ul>
	  </div>

		<h2><%= yield(:title) %></h2>
		<section id="content" class="group">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>


		  	<%= yield %>
		</section>
	</section>
	
	<footer class="group" style="position: static; ">
		<a href="#">Log Out</a>
		<a>|</a>
		<a href="#">Manage Users</a>
		<a>|</a>
		<a href="#">About Project</a>
		<a>|</a>
		<a href="#">Terms Of Use</a>
	</footer>
	
</body>
</html>
