<!DOCTYPE html>
<html>
<head>
  <title><%= "#{yield (:title)} - #{t('.title')}" || t('.title') %></title>
	<%= include_gon %>
  <%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor_html5" %>
  <%= csrf_meta_tags %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
</head>
<body>

    <header class="group">

     	<section id="top" class="group">

     		<div class="wrap group">
					<div id="app_title"><%= link_to t('.title'), root_path(:locale => I18n.locale)%></div>
				<div id="language_form">
					<ul>
						<% I18n.available_locales.each do |locale| %>
							<% if locale != I18n.locale %>
								<li><%= link_to t("app.language.#{locale}"), params.merge(:locale => locale) %></li>
							<% end %>
						<% end %>
					</ul>
				</div>
				<div class="logo"><a href="http://www.ndi.org/" target="_blank"><%= image_tag "logo.png", :size => '150x48', :alt => t('.ndi_alt'), :title => t('.ndi_title') %></a></div>
    		</div>

   	</section>

   	<section id="splash">
			<%= render :partial => "layouts/event_menu"%>
		</section>

     </header>

	<section id="container" class="wrap group">

		<h2><%= yield(:title) %></h2>

		<section id="content" class="group">
			<% flash.each do |key, msg| %>
					<%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
			<% end %>

	  	<%= yield %>
		</section>
	</section>

	<footer class="group" style="position: static; ">
		  <% if user_signed_in? %>
				<%= "#{t('.signed_in')} #{current_user.email}" %>.
				<%= link_to t('.admin'), admin_path %>
				<%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete %>
		  <% else %>
				<%= link_to t('.sign_in'), new_user_session_path %>
		  <% end %>
		<a>|</a>
		<%= link_to t('.about'), view_pages_path(:name => "about") %>
		<a>|</a>
		<%= link_to t('.data_source'), view_pages_path(:name => "data_source") %>
		<a>|</a>
		<%= link_to t('.contact'), contact_path %>
		<a>|</a>
		<%= link_to t('.terms'), view_pages_path(:name => "terms") %>
		<a>|</a>
		<a href="http://jumpstart.ge" target="_blank" title="<%= t('.js_link_title')%>"><%= t('.js_link_text')%></a>
	</footer>
  <%= javascript_include_tag "application" %>
	<%= javascript_tag do %>
		I18n.defaultLocale = "<%= I18n.default_locale %>";
		I18n.locale = "<%= I18n.locale %>";
	<% end %>

	<% if Rails.env.production? %>
		<!-- google analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12801815-7']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	<% elsif Rails.env.staging? %>
		<!-- google analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12801815-8']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	<% end %>
</body>
</html>
