<!DOCTYPE html>
<html>
<head>
  <title><%= "#{yield (:title)} - Election Map" || "Election Map" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
</head>
<body>

    <header class="group">
    
     	<section id="top" class="group">
    
     		<div class="wrap group"> 
				<div class="map"><a href="/"><%= image_tag "georgia.png", :size => '96x51', :alt => 'Election map logo', :title => 'Home' %></a></div> 
				<div id="language_form">
					<ul>
					<% @locales.each do |locale| %>
						<% unless locale.language.to_s == I18n.locale.to_s %> 
							<li><%= link_to locale.name, url_for(locale: locale.language) %></li>
						<% end %>
					<% end %>
					</ul>
				</div>
				<div class="logo"><a href="http://www.ndi.org/" target="_blank"><%= image_tag "logo.png", :size => '150x48', :alt => 'National Democratic Institute', :title => 'National Democratic Institute' %></a></div>
    		</div>
    
     	</section>
    
     	<section id="splash" class="group"> 
			<div class="wrap group"> 
				<% @event_types.each do |type| %>
					<div class="mode group">
						<%= link_to type.name, root_path(:event_type => type.id) %>
					</div>
				<% end %>
		</section>
    
     </header>

	<section id="container" class="wrap group">

		<h2><%= yield(:title) %></h2>

		<section id="content" class="group">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>


		  	<%= yield %>
		</section>
	</section>
	
	<footer class="group" style="position: static; ">
		  <% if user_signed_in? %>  
			Signed in as <%= current_user.email %>. 
			<%= link_to "Admin", admin_path %>  
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  
		  <% else %>  
			<%= link_to "Sign up", new_user_registration_path %> or  
			<%= link_to "Sign in", new_user_session_path %>  
		  <% end %>  
		<a>|</a>
		<a href="#">Manage Users</a>
		<a>|</a>
		<a href="#">About Project</a>
		<a>|</a>
		<a href="#">Terms Of Use</a>
	</footer>
	
</body>
</html>
